<div style="height: 30px"></div>
<div class="table_condiciones_generales" id="table_condiciones_generales">
    <div>
        <h3 id="alignment-title">
            <div>CONDICIONES GENERALES DEL SERVICIO
                <a class="anchorjs-link " href="#alignment" aria-label="Anchor" data-anchorjs-icon="#" style="padding-left: 0.375em;"></a>
            </div>
        </h3>
    </div>
    <br>
    <blockquote class="blockquote">
        <p class="mb-0" style="margin-left: 43%"><span style="font-weight: 700" class="this_year">____</span></p>
    </blockquote>
    <div>
        <h4 class="encabezado" id="headPLazoEntrega">
            DEFINICIÓN Y PLAZO DE ENTREGA
        </h4>
        <p>
            Las siguientes tarifas y condiciones serán de aplicación a los servicios contratados, establecidos en el presente y durante su plazo de vigencia.
        </p>
    </div>
    <div>
        <h4 class="encabezado">
            CONDICIONES DE TRANSPORTE
        </h4>
        <p>
            <b>* Mercancías excluidas:</b> queda excluido el transporte de paquetes y objetos cuyo contenido sea contrario a la Ley o cuyo transporte esté sometido a requisitos o
            disposiciones especiales, cuando no se haga constar previamente su contenido y el cumplimiento de dichos requisitos deba ser objeto de examen previo
            (armas, mercancías perecederas, fondos o efectos, materiales tóxicos, inflamables o peligrosos, animales vivos etc.) asumiendo únicamente el remitente las
            responsabilidades que pudieran derivarse. Asimismo queda excluido el transporte de mercancías cuya longitud supere la medida de dos metros.
        </p>
        <p>
            <b>* Envíos especiales:</b> para envíos de características especiales, deberá consultarse previamente con I.C.S., estando sujetas a las mismas condiciones y tarifas
            especiales.
        </p>
        <p>
            <b>* Facultad de rechazar envíos:</b> I.C.S. se reserva en todo momento la facultad de rechazar un envío y consecuentemente no prestar un servicio por insuficiencia
            de embalaje para el transporte por parecerle anómalo o por otras causas extrañas del encargo.
        </p>
        <p>
            <b>* Cubicación:</b> si el valor resultante de aplicar la fórmula: (Largo x Ancho x Alto)/ 4000 (en centímetros) es distinto al peso declarado, se aplicará el más alto.
        </p>
        <p>
            * Protegemos sus envíos  con <b>bolsas inviolables y opacas</b>  que garantizan la <b>confidencialidad y seguridad del envío</b>.
        </p>
    </div>
    <div>
        <h4 class="encabezado" style="width: 8% !important;">
            PRECIOS
        </h4>
        <p>
            <b>* Tributos, gastos y suplidos:</b> los precios de estas tarifas no incluyen IVA u otros tributos en vigor, gastos de aduana y/o gestión y cualquier otros gastos y
            derechos causados por los efectos porteados durante su conducción y hasta el momento de su entrega, ni el importe de los seguros adicionales.
        </p>
        <p>
            <b>* Recogidas</b> <b style="text-decoration: underline">Nacionales</b> <b>e</b> <b style="text-decoration: underline">Internacionales</b>: Asimismo, no se incluye el
            coste de las recogidas, que serán facturadas bajo los siguientes conceptos y precios:
        </p>
    </div>
    <div class="bd-example">
        <dl class="row table-condiciones-generales-1">
            <dt class="col-sm-6">• Recogidas Madrid Capital en moto</dt>
            <dd class="col-sm-6"><input class="no-border" id="502" value="0.00 €" style="width: 80px;text-align:right;border: 0px solid transparent"/></dd>
            <dt class="col-sm-6">• Recogidas Madrid Capital en Furgoneta </dt>
            <dd class="col-sm-6"><input class="no-border" id="534" value="0.00 €" style="width: 80px;text-align:right;border: 0px solid transparent"/></dd>
            <dt class="col-sm-6">• Recogidas Comunidad Madrid Moto o Furgoneta (Km) </dt>
            <dd class="col-sm-6"><input class="no-border" id="536" alternative-id="530" value="0.00 €" style="width: 80px;text-align:right;border: 0px solid transparent"/></dd>
            <dt class="col-sm-6">• Recogidas Fuera de plaza en Capitales o pueblos con agencia * </dt>
            <dd class="col-sm-6"><input class="no-border" id="541" value="0.00 €" style="width: 80px;text-align:right;border: 0px solid transparent"/></dd>
            <dt class="col-sm-6">• Recogidas Fuera de plaza en pueblos Península  mismo día (Km) * </dt>
            <dd class="col-sm-6"><input class="no-border" id="540" value="0.00 €" style="width: 80px;text-align:right;border: 0px solid transparent"/></dd>
        </dl>
        <p>* Los envíos con recogida fuera de plaza se facturarán bajo la modalidad Urgente.</p>
    </div>
    <p>
        <b> • Entregas en Sábado:</b> Entregas en Sábados en cualquier punto de España, con tan sólo un suplemento de
        <input class="no-border" id="527" value="0.00 €" style="width: 50px;text-align:left;border: 0px solid transparent"/>, sobre el precio del servicio urgente. En poblaciones sin agencia se facturaran Kilómetros.
    </p>
    <p>
        <b> • Pruebas de entrega Nacionales:</b>
    </p>
    <p> - Albarán original firmado (P.O.D.) <input class="no-border" id="511" value="0.00 €" style="width: 80px;text-align:right;border: 0px solid transparent"/></p>
    <p> - Confirmación de entrega vía fax/ imagen digital <input class="no-border" id="547" value="0.00 €" style="width: 80px;text-align:right;border: 0px solid transparent"/></p>

    <div id="page2break" class="page2break">
        <h6 id="headDocumentacion">Documentación para servicios en: ANDORRA, CEUTA, MELILLA, CANARIAS Y SERV. INTERNACIONALES: </h6>
        <ul class="list-unstyled">
            <li>Todo tipo de envíos (documentos  y  muestras) deben venir acompañados de una factura proforma con membrete de la compañía, original y dos copias firmadas y selladas
                haciendo constar los siguientes datos:
                <ul>
                    <li>Nombre y dirección completa del destinatario.</li>
                    <li>Número de paquetes.</li>
                    <li>Descripción detallada de la mercancía.</li>
                    <li>Valor unitario y valor total a efectos de aduana.</li>
                    <li>Motivo de la exportación.</li>
                    <li>Número de C.I.F. o D.N.I. para particulares.</li>
                </ul>
            </li>
        </ul>
        <p>
            I.C.S. gestionará el DUA en Aduana, para todo tipo de envíos. El importe de las mismas no está incluido en el precio del servicio
        </p>
        <p>
            Todos aquellos servicios que estén sujetos a aduanas pueden variar su tránsito.
        </p>
        <p>
            Las expediciones de más de un bulto tendrán que ser valoradas individualmente.
        </p>
    </div>
    <div>
        <h4 class="encabezado">
            PLAZOS DE RECLAMACIÓN
        </h4>
        <p>
            De conformidad con lo establecido en los artículos 366 y 952 del Código de Comercio, dentro de las veinticuatro horas siguientes al recibo de las mercaderías podrá hacerse la
            reclamación contra la Agencia de Transportes por daño o avería en las mismas, salvo que el daño fuera evidente en el momento de la recepción de éstas, en  cuyo caso sólo se
            admitirá la reclamación en el acto del recibo. Transcurridos los términos expresados o pagados los portes, no se admitirá reclamación alguna contra la Agencia sobre el estado
            en que entregó los géneros porteados. Cumplidos los plazos de reclamación señalados, las acciones derivadas del contrato de transporte prescribirán al año.
        </p>
    </div>
    <div>
        <h4 class="encabezado" id="headRegimenResponsabilidad">
            RÉGIMEN DE RESPONSABILIDAD
        </h4>
        <p>
           <b> * Riesgo y ventura: </b> La mercancía se transporta a riesgo y ventura del remitente. Serán de su cuenta y riesgo todos los daños y menoscabos que experimenten los
            géneros durante el transporte y hasta su entrega, por caso fortuito, fuerza mayor o naturaleza y vicio propio de las cosas. La prueba incumbe al transportista.
            El transportista será responsable en caso de negligencia, salvo engaño en carta de porte del remitente.
        </p>
        <p>
            <b> * Garantía de entrega: </b> En caso de incumplimiento del plazo de entrega contractualmente pactado según el servicio contratado, I.C.S., en concepto de
            indemnización por incumplimiento del plazo de entrega, procederá a la devolución de los portes del envío. No se considerará incumplimiento del plazo de entrega el
            causado por ausencia del destinatario, cambio de domicilio, consignatario o dirección desconocida, impago de portes, suplidos, cierre por vacaciones, entregas fuera
            de plazo en segundo intento de entrega, causas de fuerza mayor o caso fortuito u otras no imputables a I.C.S. Quedan excluidos de esta garantía las mercancías
            enviadas “a recogerán” en el domicilio o dependencias de I.C.S. de destino.
        </p>
        <p>
            <b> * Mejora de la cobertura legal de la responsabilidad: </b> En defecto de consignación expresa del valor de la mercancía transportada, la responsabilidad de la
            Agencia de Transportes, por los daños, pérdidas o averías que sufra aquella, excepto por retrasos de la entrega, en cuyo caso se aplicará el punto anterior y como
            complemento a lo establecido en la L.O.T.T. y su reglamento, está limitada como máximo a la cantidad de 1.500€  por expedición, en función de la justificación
            documental del contenido del envío. A los referidos efectos, sobre el precio del porte se cargará un 6% en concepto de mejora de la cobertura legal de responsabilidad.
        </p>
        <p>
            <b> * Seguro del valor declarado: </b> El remitente podrá solicitar de la Agencia la contratación con la compañía de seguros que ésta estime oportuno, de un seguro
            complementario que cubra, con declaración del valor real, los daños que las mercancías puedan sufrir, hasta el valor declarado de las mismas. El precio de este seguro
            será un porcentaje del 3% sobre el valor declarado. En este caso no se aplicará el recargo dispuesto en el apartado anterior. De no contratarse este seguro serán de
            aplicación en todo caso los límites de responsabilidad contractual antes reseñados. Lo anterior no se verá alterado por la necesaria presentación de documentos en que
            para realizar el tránsito de la mercancía venga referido su valor o contenido, el cual será considerado como declaración extracontractual y a los solos efectos de
            gestión ante terceros.
        </p>
    </div>
    <div>
        <h4 class="encabezado" style="width: 12% !important;">
            LEGISLACIÓN
        </h4>
        <p>
            Al servicio de transporte contratado le será de aplicación lo dispuesto en el código de comercio y específicamente las disposiciones de la Ley de Ordenación de
            Transportes Terrestres (L.O.T.T.), su reglamento, y demás disposiciones legales de singular y pertinente aplicación ya vigentes o que puedan dictarse durante el periodo
            de vigencia de las presentes condiciones.
        </p>
        <p>
            Para cualquier incidencia o sugerencia no suficientemente atendida por la Agencia, diríjanse al Departamento de Atención Cliente, al teléfono <b>915 36 08 84</b>
            o al mail <b>comercialm@instapack.es</b>
        </p>

    </div>
</div>

