<!DOCTYPE html>
<html lang="en">

<head>
</head>

<body>

    <div class="col-sm-12 div_btn_function">
        <b class="not_print">PRINT</b> <button class="not_print" id="print_int_terrestre" style="cursor: pointer; padding: 2px"><img style="cursor: pointer" height="20" src="pdf_logo.png"></img></button>
        <!--<b class="not_print">PDF</b> <button class="not_print" id="pdf_int_terrestre" style="cursor: pointer; padding: 2px"><img style="cursor: pointer" height="20" src="pdf_logo.png"></img></button>-->
    </div>

    <div class="col-sm-12  div_title">
        <h3 style="color: black; border: 1px gray solid; padding: 5px 5px 5px 5px; background-color: white; text-align: center">Tarifa Internacional Terrestre
        </h3>
    </div>

    <div class="row col-sm-12   div_1">
        <div class=" col-md-3 div_tarifa">
            <p>TARIFA 2018</p>
        </div>
        <div class=" col-md-9 div_name_cliente">
            <p>CLIENTE: xxxx</p>
        </div>
    </div>

    <div class="row col-sm-12 div_2">
        <div class="col-md-9 div_parrafo">
            <p>Todos los servicios internacionales se enviaran por servicio aereo salvo expecificaciones expresas del cliente
                solicitando otro tipo de servicio</p>
        </div>
        <div class="col-md-3 div_int">
            <p>INTERNACIONAL</p>
        </div>
    </div>


    <div class="row col-sm-9">
        <table id="table_int_terrestre">
            <thead>
                <th class="col-md-2"></th>
                <th class="col-md-2">1040</th>
                <th class="col-md-2">1041</th>
                <th class="col-md-2">1042-1043</th>
                <th class="col-md-2">1044</th>
                <th class="col-md-2">1045</th>
            </thead>
            <tbody class="tbody_t_i_t">
                <tr>
                    <td class="td_zona_0"></td>
                    <td class="td_zona">ZONA 1</td>
                    <td class="td_zona">ZONA 2</td>
                    <td class="td_zona">ZONA 3</td>
                    <td class="td_zona">ZONA 4</td>
                    <td class="td_zona">ZONA 5</td>
                </tr>
                <tr>
                    <td class="td_first">PESO KG</td>
                    <td>Portugal, Francia, Benelux</td>
                    <td>Italia, Alemania, Austria,UK</td>
                    <td>Resto UE,Suiza, Noruega</td>
                    <td>Resto Europa, Turquia</td>
                    <td>Resto Mundo</td>
                </tr>
                <tr>
                    <td class="td_first">5</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td class="td_first">10</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td class="td_first">15</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td class="td_first">20</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td class="td_first">25</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td class="td_first">30</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td class="td_first">35</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td class="td_first">40</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td class="td_first">45</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td class="td_first">50</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td class="td_first">Add 50 kg</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td class="td_first">TRANSITO</td>
                    <td>72h</td>
                    <td>72h</td>
                    <td>Consultar</td>
                    <td>Consultar</td>
                    <td>Consultar</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class=" col-md-9 div_contact">
        <p>TELEFONO ATENCION AL CLIENTE 915 36 08 84 ics.es</p>
    </div>
    <div class="col-md-9 div_message">
        <p>ESTOS PRECIOS NO INCLUYEN IVA</p>
    </div>

</body>

</html>