<div class="alert alert-danger" id="msgAlertReportNacional" role="alert" hidden="true">
    No se puede mostrar este reporte para este cliente , no tiene una tarifa NR* o N2*
</div>

<div class="col-sm-12 div_title" style="padding-top:  0 !important;">
    <h3 id="codeClientNacional" style="color: black; border: 1px gray solid; padding: 5px 5px 5px 5px; background-color: white; text-align: center">
        Tarifas de Cargas
    </h3>
</div>

<div class="row col-sm-12  div_1">
    <div class="div_tarifa" style="width: 20%" >
        <p>TARIFA <span class="this_year">____</span></p>
    </div>
    <div class="div_cliente" style="width: 80%">
        <p style="margin-left: 15%">Cliente <span class="client">____</span></p>
    </div>
</div>


<table id="tabla_tarifas_cargas">
    <thead>
        <th style="width: 25%"></th>
        <th style="width: 25%"></th>
        <th style="width: 25%"></th>
        <th style="width: 25%"></th>
    </thead>
    <tbody>
        <tr id="tr_1">
            <td id="td_1" colspan="2 "></td>
            <td>ZONA</td>
            <td>TRANSITO</td>
        </tr>
        <tr id="tr_2">
            <td colspan="2 ">PROVINCIAL CARGA</td>
            <td>Zona 1</td>
            <td> 24-48 H</td>
        </tr>
        <tr id="tr_3">
            <td colspan="2 ">PENINSULAR CARGA</td>
            <td>Zona 2</td>
            <td>48H</td>
        </tr>
        <tr id="tr_4">
            <td colspan="2 ">PORTUGAL CARGA</td>
            <td>Zona 3</td>
            <td> 48 H</td>
        </tr>
        <tr id="tr_5">
            <td colspan="2">ANDORRA CARGA</td>
            <td>Zona 3</td>
            <td>48 H</td>
        </tr>
        <tr id="tr_6">
            <td colspan="2 ">753</td>
            <td>752</td>
            <td>1674-1844</td>
        </tr>
        <tr id="tr_7">
            <td>KILOS</td>
            <td>Zona 1</td>
            <td>Zona 2</td>
            <td>Zona 3</td>
        </tr>
        <tr>
            <td>2</td>
            <td><input id="" element="" tramo="" value="0.00 €" style="width: 80px;text-align:right;"></td>
            <td><input id="" element="" tramo="" value="0.00 €" style="width: 80px;text-align:right;"></td>
            <td><input id="" element="" tramo="" value="0.00 €" style="width: 80px;text-align:right;"></td>
        </tr>
        <tr>
            <td>5</td>
           <td><input id="" element="" tramo="" value="0.00 €" style="width: 80px;text-align:right;"></td>
            <td><input id="" element="" tramo="" value="0.00 €" style="width: 80px;text-align:right;"></td>
            <td><input id="" element="" tramo="" value="0.00 €" style="width: 80px;text-align:right;"></td>
        </tr>
        <tr>
            <td>10</td>
            <td><input id="" element="" tramo="" value="0.00 €" style="width: 80px;text-align:right;"></td>
            <td><input id="" element="" tramo="" value="0.00 €" style="width: 80px;text-align:right;"></td>
            <td><input id="" element="" tramo="" value="0.00 €" style="width: 80px;text-align:right;"></td>
        </tr>
        <tr>
            <td>15</td>
            <td><input id="" element="" tramo="" value="0.00 €" style="width: 80px;text-align:right;"></td>
            <td><input id="" element="" tramo="" value="0.00 €" style="width: 80px;text-align:right;"></td>
            <td><input id="" element="" tramo="" value="0.00 €" style="width: 80px;text-align:right;"></td>
        </tr>
        <tr>
            <td>20</td>
            <td><input id="" element="" tramo="" value="0.00 €" style="width: 80px;text-align:right;"></td>
            <td><input id="" element="" tramo="" value="0.00 €" style="width: 80px;text-align:right;"></td>
            <td><input id="" element="" tramo="" value="0.00 €" style="width: 80px;text-align:right;"></td>
        </tr>
        <tr>
            <td>30</td>
            <td><input id="" element="" tramo="" value="0.00 €" style="width: 80px;text-align:right;"></td>
            <td><input id="" element="" tramo="" value="0.00 €" style="width: 80px;text-align:right;"></td>
            <td><input id="" element="" tramo="" value="0.00 €" style="width: 80px;text-align:right;"></td>
        </tr>
        <tr>
            <td>40</td>
           <td><input id="" element="" tramo="" value="0.00 €" style="width: 80px;text-align:right;"></td>
            <td><input id="" element="" tramo="" value="0.00 €" style="width: 80px;text-align:right;"></td>
            <td><input id="" element="" tramo="" value="0.00 €" style="width: 80px;text-align:right;"></td>
        </tr>
        <tr>
            <td>50</td>
            <td><input id="" element="" tramo="" value="0.00 €" style="width: 80px;text-align:right;"></td>
            <td><input id="" element="" tramo="" value="0.00 €" style="width: 80px;text-align:right;"></td>
            <td><input id="" element="" tramo="" value="0.00 €" style="width: 80px;text-align:right;"></td>
        </tr>
        <tr>
            <td>60</td>
            <td><input id="" element="" tramo="" value="0.00 €" style="width: 80px;text-align:right;"></td>
            <td><input id="" element="" tramo="" value="0.00 €" style="width: 80px;text-align:right;"></td>
            <td><input id="" element="" tramo="" value="0.00 €" style="width: 80px;text-align:right;"></td>
        </tr>
        <tr>
            <td>70</td>
           <td><input id="" element="" tramo="" value="0.00 €" style="width: 80px;text-align:right;"></td>
            <td><input id="" element="" tramo="" value="0.00 €" style="width: 80px;text-align:right;"></td>
            <td><input id="" element="" tramo="" value="0.00 €" style="width: 80px;text-align:right;"></td>
        </tr>
        <tr>
            <td>80</td>
            <td><input id="" element="" tramo="" value="0.00 €" style="width: 80px;text-align:right;"></td>
            <td><input id="" element="" tramo="" value="0.00 €" style="width: 80px;text-align:right;"></td>
            <td><input id="" element="" tramo="" value="0.00 €" style="width: 80px;text-align:right;"></td>
        </tr>
        <tr>
            <td>90</td>
            <td><input id="" element="" tramo="" value="0.00 €" style="width: 80px;text-align:right;"></td>
            <td><input id="" element="" tramo="" value="0.00 €" style="width: 80px;text-align:right;"></td>
            <td><input id="" element="" tramo="" value="0.00 €" style="width: 80px;text-align:right;"></td>
        </tr>
        <tr>
            <td>100</td>
           <td><input id="" element="" tramo="" value="0.00 €" style="width: 80px;text-align:right;"></td>
            <td><input id="" element="" tramo="" value="0.00 €" style="width: 80px;text-align:right;"></td>
            <td><input id="" element="" tramo="" value="0.00 €" style="width: 80px;text-align:right;"></td>
        </tr>
        <tr>
            <td>120</td>
            <td><input id="" element="" tramo="" value="0.00 €" style="width: 80px;text-align:right;"></td>
            <td><input id="" element="" tramo="" value="0.00 €" style="width: 80px;text-align:right;"></td>
            <td><input id="" element="" tramo="" value="0.00 €" style="width: 80px;text-align:right;"></td>
        </tr>
        <tr>
            <td>140</td>
           <td><input id="" element="" tramo="" value="0.00 €" style="width: 80px;text-align:right;"></td>
            <td><input id="" element="" tramo="" value="0.00 €" style="width: 80px;text-align:right;"></td>
            <td><input id="" element="" tramo="" value="0.00 €" style="width: 80px;text-align:right;"></td>
        </tr>
        <tr>
            <td>160</td>
           <td><input id="" element="" tramo="" value="0.00 €" style="width: 80px;text-align:right;"></td>
            <td><input id="" element="" tramo="" value="0.00 €" style="width: 80px;text-align:right;"></td>
            <td><input id="" element="" tramo="" value="0.00 €" style="width: 80px;text-align:right;"></td>
        </tr>
        <tr>
            <td>180</td>
            <td><input id="" element="" tramo="" value="0.00 €" style="width: 80px;text-align:right;"></td>
            <td><input id="" element="" tramo="" value="0.00 €" style="width: 80px;text-align:right;"></td>
            <td><input id="" element="" tramo="" value="0.00 €" style="width: 80px;text-align:right;"></td>
        </tr>
        <tr>
            <td>200</td>
            <td><input id="" element="" tramo="" value="0.00 €" style="width: 80px;text-align:right;"></td>
            <td><input id="" element="" tramo="" value="0.00 €" style="width: 80px;text-align:right;"></td>
            <td><input id="" element="" tramo="" value="0.00 €" style="width: 80px;text-align:right;"></td>
        </tr>
        <tr>
            <td>250</td>
           <td><input id="" element="" tramo="" value="0.00 €" style="width: 80px;text-align:right;"></td>
            <td><input id="" element="" tramo="" value="0.00 €" style="width: 80px;text-align:right;"></td>
            <td><input id="" element="" tramo="" value="0.00 €" style="width: 80px;text-align:right;"></td>
        </tr>
        <tr>
            <td>300</td>
            <td><input id="" element="" tramo="" value="0.00 €" style="width: 80px;text-align:right;"></td>
            <td><input id="" element="" tramo="" value="0.00 €" style="width: 80px;text-align:right;"></td>
            <td><input id="" element="" tramo="" value="0.00 €" style="width: 80px;text-align:right;"></td>
        </tr>
        <tr>
            <td>350</td>
            <td><input id="" element="" tramo="" value="0.00 €" style="width: 80px;text-align:right;"></td>
            <td><input id="" element="" tramo="" value="0.00 €" style="width: 80px;text-align:right;"></td>
            <td><input id="" element="" tramo="" value="0.00 €" style="width: 80px;text-align:right;"></td>
        </tr>
        <tr>
            <td>400</td>
            <td><input id="" element="" tramo="" value="0.00 €" style="width: 80px;text-align:right;"></td>
            <td><input id="" element="" tramo="" value="0.00 €" style="width: 80px;text-align:right;"></td>
            <td><input id="" element="" tramo="" value="0.00 €" style="width: 80px;text-align:right;"></td>
        </tr>
        <tr>
            <td>450</td>
           <td><input id="" element="" tramo="" value="0.00 €" style="width: 80px;text-align:right;"></td>
            <td><input id="" element="" tramo="" value="0.00 €" style="width: 80px;text-align:right;"></td>
            <td><input id="" element="" tramo="" value="0.00 €" style="width: 80px;text-align:right;"></td>
        </tr>
        <tr>
            <td>500</td>
            <td><input id="" element="" tramo="" value="0.00 €" style="width: 80px;text-align:right;"></td>
            <td><input id="" element="" tramo="" value="0.00 €" style="width: 80px;text-align:right;"></td>
            <td><input id="" element="" tramo="" value="0.00 €" style="width: 80px;text-align:right;"></td>
        </tr>
        <tr>
            <td>600</td>
           <td><input id="" element="" tramo="" value="0.00 €" style="width: 80px;text-align:right;"></td>
            <td><input id="" element="" tramo="" value="0.00 €" style="width: 80px;text-align:right;"></td>
            <td><input id="" element="" tramo="" value="0.00 €" style="width: 80px;text-align:right;"></td>
        </tr>
        <tr>
            <td>700</td>
           <td><input id="" element="" tramo="" value="0.00 €" style="width: 80px;text-align:right;"></td>
            <td><input id="" element="" tramo="" value="0.00 €" style="width: 80px;text-align:right;"></td>
            <td><input id="" element="" tramo="" value="0.00 €" style="width: 80px;text-align:right;"></td>
        </tr>
        <tr>
            <td>800</td>
           <td><input id="" element="" tramo="" value="0.00 €" style="width: 80px;text-align:right;"></td>
            <td><input id="" element="" tramo="" value="0.00 €" style="width: 80px;text-align:right;"></td>
            <td><input id="" element="" tramo="" value="0.00 €" style="width: 80px;text-align:right;"></td>
        </tr>
        <tr>
            <td>900</td>
           <td><input id="" element="" tramo="" value="0.00 €" style="width: 80px;text-align:right;"></td>
            <td><input id="" element="" tramo="" value="0.00 €" style="width: 80px;text-align:right;"></td>
            <td><input id="" element="" tramo="" value="0.00 €" style="width: 80px;text-align:right;"></td>
        </tr>
        <tr>
            <td>1000</td>
            <td><input id="" element="" tramo="" value="0.00 €" style="width: 80px;text-align:right;"></td>
            <td><input id="" element="" tramo="" value="0.00 €" style="width: 80px;text-align:right;"></td>
            <td><input id="" element="" tramo="" value="0.00 €" style="width: 80px;text-align:right;"></td>
        </tr>
        <tr id="tr_30">
            <td id="td_1">Kg adicional</td>
            <td><input id="" element="" tramo="" value="0.00 €" style="width: 80px;text-align:right;"></td>
            <td><input id="" element="" tramo="" value="0.00 €" style="width: 80px;text-align:right;"></td>
            <td><input id="" element="" tramo="" value="0.00 €" style="width: 80px;text-align:right;"></td>
        </tr>
    </tbody>
</table>

<div class=" col-sm-12 div_message " style="display: inline-grid ">
    <p>TERCERAS CIUDADES /CONSULTAR( Punto de Recogida/entrega diferente a Madrid) </p>
    <p> * ANDORRA: GESTION DE ADUANAS PARA MUESTRAS </p>
    <p> RECOGIDAS COSTES SEGUN ZONA </p>
    <p> CARBURANTE: 3% </p>
</div>


<div class=" col-sm-12 div_contact ">
    <p>250 kg EQUIVALE A 1 m3</p>
</div>

<div class=" col-sm-12 div_contact_1 ">
    <p>TELEFONO ATENCION AL CLIENTE 902 42 00 43 www.instapack.es</p>
</div>

<div class=" col-sm-12 div_contact_2 ">
    <p>ESTOS PRECIOS NO INCLUYEN IVA</p>
</div>