
  <div class="col-sm-12 div_btn_function">
    <b class="not_print">EXPORTAR</b> <button class="not_print" id="print_servicio_insular" style="cursor: pointer; padding: 2px"><img style="cursor: pointer" height="20" src="imagen/pdf_logo.png"></img></button>
  </div>
  <div class="alert alert-danger" id="msgAlertReportNacional" role="alert" hidden="true">
    NO se puede mostrar este reporte para este cliente , no tiene una tarifa NR* o N2*
  </div>
  <div class="col-sm-12  div_title">
    <h3 id="codeClientInsular" style="color: black; border: 1px gray solid; padding: 5px 5px 5px 5px; background-color: white; text-align: center">SERVICIOS INSULAR
    </h3>
  </div>

 <div class="row col-sm-12 div_1">
    <div class="div_tarifa">
      <p>TARIFA <span class="this_year">____</span></p>
    </div>
    
  </div>

  <table class="table_servicios_insulares">
    <thead>
      <th style="width: 15.8%">
      </th>
      <th style="width: 5.3%">
      </th>
      <th style="width: 13%">
      </th>
      <th style="width: 13%">
      </th>
       <th style="width: 1.1%">
      </th>
      <th style="width: 13%">
      </th>
      <th style="width: 13%">
      </th>
      <th style="width: 10%">
      </th>
      <th style="width: 15.8%">
      </th>
    </thead>
    <tbody>

      <tr class="tr_1">
        <td></td>
        <td></td>
        <td class="td_blue" colspan="2">ISLAS CANARIAS</td>
        <td ></td>       
        <td class="td_blue" colspan="2">ISLAS BALEARES</td>
         <td></td>
        <td ></td>
        <td colspan="2"></td>
        <td></td>
      </tr>

      <tr class="tr_2">
        <td></td>
        <td></td>
        <td class="td_blue_1"> MAYORES</td>
        <td class="td_blue_2"> MENORES</td>
        <td></td>
        <td class="td_blue_1">MAYORES</td>
        <td class="td_blue_2">MENORES</td>
        <td class="td_8"></td>
        <td class="td_gray" rowspan="4">SERVICIO 24H</td>
      </tr>

      <tr class="tr_3">
        <td class="td_1">PESO</td>
        <td  class="td_2" colspan="7"></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>

      <tr>
        <td class="td_1"> 1 Kilo</td>
        <td></td>
        <td class="td_content td_content_1"><input id="3181" element="318" tramo="1" value="€" style="width: 80px;text-align:right;"></td>
        <td class="td_content"><input id="3221" element="322" tramo="1" value="€" style="width: 80px;text-align:right;"></td>
        <td class="td_content td_blue_3"></td>
        <td class="td_content"><input id="3101" element="310" tramo="1" value="€" style="width: 80px;text-align:right;"></td>
        <td class="td_content td_content_5"><input id="3141" element="314" tramo="1" value="€" style="width: 80px;text-align:right;"></td>
        <td rowspan="7"></td>
        <td></td>
      </tr>

      <tr>
        <td class="td_1"> 2 Kilos</td>
        <td></td>
        <td class="td_content td_content_1"><input id="3182" element="318" tramo="2" value="€" style="width: 80px;text-align:right;"></td>
        <td class="td_content"><input id="3222" element="322" tramo="2" value="€" style="width: 80px;text-align:right;"></td>
        <td class="td_content td_blue_3"></td>
        <td class="td_content "><input id="3102" element="310" tramo="2" value="€" style="width: 80px;text-align:right;"></td>
        <td class="td_content td_content_5"><input id="3142" element="314" tramo="2" value="€" style="width: 80px;text-align:right;"></td>
        <td></td>
        <td></td>
      </tr>

      <tr>
        <td class="td_1"> 3 Kilos</td>
        <td></td>
        <td class="td_content td_content_1"><input id="3183" element="318" tramo="3" value="€" style="width: 80px;text-align:right;"></td>
        <td class="td_content"><input id="3223" element="322" tramo="3" value="€" style="width: 80px;text-align:right;"></td>
        <td class="td_content td_blue_3"></td>
        <td class="td_content"><input id="3103" element="310" tramo="3" value="€" style="width: 80px;text-align:right;"></td>
        <td class="td_content td_content_5"><input id="3143" element="314" tramo="3" value="€" style="width: 80px;text-align:right;"></td>
        <td></td>
        <td></td>
      </tr>    

      <tr>
        <td class="td_1"> Kilo Adicional</td>
        <td></td>
        <td class="td_content td_content_1"><input id="318" refid="kg" value="€" style="width: 80px;text-align:right;"></td>
        <td class="td_content"><input id="322" refid="kg" value="€" style="width: 80px;text-align:right;"></td>
        <td class="td_content td_blue_3"></td>
        <td class="td_content"><input id="310" refid="kg" value="€" style="width: 80px;text-align:right;"></td>
        <td class="td_content td_content_5"><input id="314" refid="kg" value="€" style="width: 80px;text-align:right;"></td>
        <td></td>
        <td></td>
      </tr>
    </tbody>
  </table>
  <br>
  <br>
  <br>

  <table class="table_servicios_insulares">
    <thead>
      <th style="width: 15.8%">
      </th>
      <th style="width: 5.3%">
      </th>
      <th style="width: 13%">
      </th>
      <th style="width: 13%">
      </th>
       <th style="width: 1.1%">
      </th>
      <th style="width: 13%">
      </th>
      <th style="width: 13%">
      </th>
      <th style="width: 10%">
      </th>
      <th style="width: 15.8%">
      </th>
    </thead>
    <tbody>

      <tr class="tr_1">
        <td></td>
        <td></td>
        <td class="td_blue" colspan="2">ISLAS CANARIAS</td>
        <td ></td>       
        <td class="td_blue" colspan="2">ISLAS BALEARES</td>
         <td></td>
        <td ></td>
        <td colspan="2"></td>
        <td></td>
      </tr>

      <tr class="tr_2">
        <td></td>
        <td></td>
        <td class="td_blue_1"> MAYORES</td>
        <td class="td_blue_2"> MENORES</td>
        <td></td>
        <td class="td_blue_1">MAYORES</td>
        <td class="td_blue_2">MENORES</td>
        <td class="td_8"></td>
        <td class="td_gray" rowspan="4">SERVICIO 13H</td>
      </tr>

      <tr class="tr_3">
        <td class="td_1">PESO</td>
        <td  class="td_2" colspan="7"></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>

      <tr>
        <td class="td_1"> 1 Kilo</td>
        <td></td>
        <td class="td_content td_content_1"><input id="3191" element="319" tramo="1" value="€" style="width: 80px;text-align:right;"></td>
        <td class="td_content"><input id="3231" element="323" tramo="1" value="€" style="width: 80px;text-align:right;"></td>
        <td class="td_content td_blue_3"></td>
        <td class="td_content"><input id="3111" element="311" tramo="1" value="€" style="width: 80px;text-align:right;"></td>
        <td class="td_content td_content_5"><input id="3151" element="315" tramo="1" value="€" style="width: 80px;text-align:right;"></td>
        <td rowspan="7"></td>
        <td></td>
      </tr>

      <tr>
        <td class="td_1"> 2 Kilos</td>
        <td></td>
        <td class="td_content td_content_1"><input id="3192" element="319" tramo="2" value="€" style="width: 80px;text-align:right;"></td>
        <td class="td_content"><input id="3232" value="€" element="323" tramo="2" style="width: 80px;text-align:right;"></td>
        <td class="td_content td_blue_3"></td>
        <td class="td_content "><input id="3112" value="€" element="311" tramo="2" style="width: 80px;text-align:right;"></td>
        <td class="td_content td_content_5"><input id="3152" element="315" tramo="2" value="€" style="width: 80px;text-align:right;"></td>
        <td></td>
        <td></td>
      </tr>

      <tr>
        <td class="td_1"> 3 Kilos</td>
        <td></td>
        <td class="td_content td_content_1"><input id="3193" element="319" tramo="3" value="€" style="width: 80px;text-align:right;"></td>
        <td class="td_content"><input id="3233" element="323" tramo="3" value="€" style="width: 80px;text-align:right;"></td>
        <td class="td_content td_blue_3"></td>
        <td class="td_content"><input id="3113" element="311" tramo="3" value="€" style="width: 80px;text-align:right;"></td>
        <td class="td_content td_content_5"><input id="3153" element="315" tramo="3" value="€" style="width: 80px;text-align:right;"></td>
        <td></td>
        <td></td>
      </tr>    

      <tr>
        <td class="td_1"> Kilo Adicional</td>
        <td></td>
        <td class="td_content td_content_1"><input id="319" refid="kg" value="€" style="width: 80px;text-align:right;"></td>
        <td class="td_content"><input id="323" refid="kg" value="€" style="width: 80px;text-align:right;"></td>
        <td class="td_content td_blue_3"></td>
        <td class="td_content"><input id="311" refid="kg" value="€" style="width: 80px;text-align:right;"></td>
        <td class="td_content td_content_5"><input id="315" refid="kg" value="€" style="width: 80px;text-align:right;"></td>
        <td></td>
        <td></td>
      </tr>
    </tbody>
  </table>
  <br>
  <br>
  <br>

  <table class="table_servicios_insulares">
    <thead>
      <th style="width: 15.8%">
      </th>
      <th style="width: 5.3%">
      </th>
      <th style="width: 13%">
      </th>
      <th style="width: 13%">
      </th>
       <th style="width: 1.1%">
      </th>
      <th style="width: 13%">
      </th>
      <th style="width: 13%">
      </th>
      <th style="width: 10%">
      </th>
      <th style="width: 15.8%">
      </th>
    </thead>
    <tbody>

      <tr class="tr_1">
        <td></td>
        <td></td>
        <td class="td_blue" colspan="2">ISLAS CANARIAS</td>
        <td ></td>       
        <td class="td_blue" colspan="2">ISLAS BALEARES</td>
         <td></td>
        <td ></td>
        <td colspan="2"></td>
        <td></td>
      </tr>

      <tr class="tr_2">
        <td></td>
        <td></td>
        <td class="td_blue_1"> MAYORES</td>
        <td class="td_blue_2"> MENORES</td>
        <td></td>
        <td class="td_blue_1">MAYORES</td>
        <td class="td_blue_2">MENORES</td>
        <td class="td_8"></td>
        <td class="td_gray" rowspan="4">SERVICIO 10H</td>
      </tr>

      <tr class="tr_3">
        <td class="td_1">PESO</td>
        <td  class="td_2" colspan="7"></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>

      <tr>
        <td class="td_1"> 1 Kilo</td>
        <td></td>
        <td class="td_content td_content_1"><input id="3201" element="320" tramo="1" value="€" style="width: 80px;text-align:right;"></td>
        <td class="td_content"><input id="3241" element="324" tramo="1" value="€" style="width: 80px;text-align:right;"></td>
        <td class="td_content td_blue_3"></td>
        <td class="td_content"><input id="3121" element="312" tramo="1" value="€" style="width: 80px;text-align:right;"></td>
        <td class="td_content td_content_5"><input id="3161" element="316" tramo="1" value="€" style="width: 80px;text-align:right;"></td>
        <td rowspan="7"></td>
        <td></td>
      </tr>

      <tr>
        <td class="td_1"> 2 Kilos</td>
        <td></td>
        <td class="td_content td_content_1"><input id="3202" element="320" tramo="2" value="€" style="width: 80px;text-align:right;"></td>
        <td class="td_content"><input id="3242" element="324" tramo="2" value="€" style="width: 80px;text-align:right;"></td>
        <td class="td_content td_blue_3"></td>
        <td class="td_content "><input id="3122" element="312" tramo="2" value="€" style="width: 80px;text-align:right;"></td>
        <td class="td_content td_content_5"><input id="3162" element="316" tramo="2" value="€" style="width: 80px;text-align:right;"></td>
        <td></td>
        <td></td>
      </tr>

      <tr>
        <td class="td_1"> 3 Kilos</td>
        <td></td>
        <td class="td_content td_content_1"><input id="3203" element="320" tramo="3" value="€" style="width: 80px;text-align:right;"></td>
        <td class="td_content"><input id="3243" element="324" tramo="3" value="€" style="width: 80px;text-align:right;"></td>
        <td class="td_content td_blue_3"></td>
        <td class="td_content"><input id="3123" element="312" tramo="3" value="€" style="width: 80px;text-align:right;"></td>
        <td class="td_content td_content_5"><input id="3163" element="316 tramo="3" value="€" style="width: 80px;text-align:right;"></td>
        <td></td>
        <td></td>
      </tr>    

      <tr>
        <td class="td_1"> Kilo Adicional</td>
        <td></td>
        <td class="td_content td_content_1"><input id="320" refid="kg" value="€" style="width: 80px;text-align:right;"></td>
        <td class="td_content"><input id="324" refid="kg" value="€" style="width: 80px;text-align:right;"></td>
        <td class="td_content td_blue_3"></td>
        <td class="td_content"><input id="312" refid="kg" value="€" style="width: 80px;text-align:right;"></td>
        <td class="td_content td_content_5"><input id="316" refid="kg" value="€" style="width: 80px;text-align:right;"></td>
        <td></td>
        <td></td>
      </tr>
    </tbody>
  </table>
  <br>
  <br>
  <br>


  <div class=" col-sm-12 div_contact_1">
    <p>TELEFONO ATENCION AL CLIENTE 902 42 00 43</p>
  </div>
  <div class=" col-sm-12 div_contact_2">
    <a>www.instapack.es</a>
  </div>
  <div class=" col-sm-12 div_message">
    <p>ESTOS PRECIOS NO INCLUYEN IVA</p>
  </div>

