<!--<div class="col-sm-12 div_btn_function">
  <b class="not_print">EXPORTAR</b> <button class="not_print" id="imprimirReporte" 
  style="cursor: pointer; padding: 4px"><img style="cursor: pointer" height="20" src="imagen/pdf_logo.png"></img></button>
  &lt;!&ndash;<b class="not_print">PDF</b> <button class="not_print" id="pdfReporte" style="cursor: pointer; padding: 2px"><img style="cursor: pointer" height="20" src="pdf_logo.png"></img></button>&ndash;&gt;
</div>-->

<br>
<br>
<br>

<div class="col-sm-12  ">
  <h3 id="codeClientLocal" style="color: black; border: 1px gray solid; padding: 5px 5px 5px 5px; background-color: white; text-align: center">
    Servicios Locales
  </h3>
</div>
<div  class="row col-sm-12   div_1">
    <div class="div_tarifa">
      <p>TARIFA <span class="this_year">____</span></p>
    </div>
<div style="width: 69%">
  <div class="bd-example" id="serviciosLocalesReport">
    <table id="servicios_locales_moto" class="table services-table">
      <thead>
        <tr>
          <th scope="col" class="service-header" style="width:25%"> SERVICIOS </th>
          <th class="th_2" scope="col"> </th>
          <th scope="col" style="align-items:center; text-align:center"> PRECIO </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td style='font-weight: bold'> Moto </td>
        </tr>
        <tr>
          <td> </td>
          <td id="td_dir" ; style="align-items:left; text-align:left"> DIRECCIONES </td>
          <td style=""> <input id="001" value="0.00 €" style="width: 80px;text-align:right;"></input>
          </td>
        </tr>
        <tr>
          <td> </td>
          <td style="align-items:left; text-align:left"> PESO Y MEDIDAS (Hasta 5kg 45*25*25 cm) </td>
          <td style=""> <input id="003" value="0.00 €" style="width: 80px;text-align:right;"></input>
          </td>
        </tr>
        <tr>
          <td> </td>
          <td style="align-items:left; text-align:left"> TIEMPO DE ESPERA (A partir de 10 minutos) </td>
          <td style=""> <input id="002" value="0.00 €" style="width: 80px;text-align:right;"></input>
          </td>
        </tr>
        <tr>
          <td> </td>
          <td style="align-items:left; text-align:left"> PRECIO POR KM (Fuera del casco Urbano) </td>
          <td style=""> <input id="005" value="0.00 €" style="width: 80px;text-align:right;"></input>
          </td>
        </tr>
        <tr>
          <td> </td>
          <td style="align-items:left; text-align:left"> CANON DE LLUVIA (Por dirección) </td>
          <td style=""> <input id="004" value="0.00 €" style="width: 80px;text-align:right;"></input>
          </td>
        </tr>
        <tr>
          <td> </td>
          <td style="align-items:left; text-align:left"> CANON DE LLUVIA (Por kilómetro) </td>
          <td style=""> <input id="006" value="0.00 €" style="width: 80px;text-align:right;"></input>
          </td>
        </tr>

        <tr>
          <td style='font-weight: bold'> Furgoneta 400Kg </td>
        </tr>
        <tr>
          <td> </td>
          <td style="align-items:left; text-align:left"> PRECIO POR DIRECCIÓN </td>
          <td style=""> <input id="676" value="0.00 €" style="width: 80px;text-align:right;"></input>
          </td>
        </tr>
        <tr>
          <td> </td>
          <td style="align-items:left; text-align:left"> PRECIO POR KM (Fuera del casco Urbano) </td>
          <td style=""> <input id="012" value="0.00 €" style="width: 80px;text-align:right;"></input>
          </td>
        </tr>
        <tr>
          <td> </td>
          <td style="align-items:left; text-align:left"> TIEMPO DE ESPERA (A partir de 10 minutos) </td>
          <td style=""> <input id="678" value="0.00 €" style="width: 80px;text-align:right;"></input>
          </td>
        </tr>
        <tr>
          <td style='font-weight: bold'> Furgoneta 1500Kg </td>
        </tr>
        <tr>
          <td> </td>
          <td style="align-items:left; text-align:left"> PRECIO POR DIRECCIÓN </td>
          <td style=""> <input id="679" value="0.00 €" style="width: 80px;text-align:right;"></input>
          </td>
        </tr>
        <tr>
          <td> </td>
          <td style="align-items:left; text-align:left"> PRECIO POR KM (Fuera del casco Urbano) </td>
          <td style=""> <input id="014" value="0.00 €" style="width: 80px;text-align:right;"></input>
          </td>
        </tr>
        <tr>
          <td> </td>
          <td style="align-items:left; text-align:left"> TIEMPO DE ESPERA (A partir de 10 minutos) </td>
          <td style=""> <input id="681" value="0.00 €" style="width: 80px;text-align:right;"></input>
          </td>
        </tr>
        <tr>
          <td style='font-weight: bold'> HORA DE MOZO (Furgoneta) </td>
          <td> </td>
          <td style=""> <input id="154" value="0.00 €" style="width: 80px;text-align:right;"></input>
          </td>
        </tr>
      </tbody>
    </table>
    <table id="servicios_locales_moto_1" class="table services-table">
      <thead>
        <tr>
          <th scope="col" class="service-header" style="width:65%; text-align: left;"> SERVICIOS DE LUNES A VIERNES 8H </th>
          <th class="th_2" scope="col"> </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td> MOTO FIJA CASCO URBANO (Precio Mensual) </td>
          <td style=""> <input value="Consultar" style="width:80px; text-align:right"> </td>
          </input>
          </td>
        </tr>
        <tr>
          <td> MOTO FIJA COM. MADRID (Precio Mensual sin límite Km) </td>
          <td style=""> <input value="Consultar" style="width: 80px;text-align:right"></input>
          </td>
        </tr>
        </tr>
        <tr>
          <td> FURGONETA 400Kg (Precio Mensual) </td>
          <td style=""> <input value="Consultar" style="width: 80px; text-align:right"></input>
          </td>
        </tr>
        <tr>
          <td> FURGONETA 1500Kg (Precio Mensual) </td>
          <td style=""> <input value="Consultar" style="width: 80px; text-align:right"></input>
          </td>
        </tr>
        </tr>
        <tr>
          <td> FURGONETA 1500Kg CONDUCTOR Y AYUDANTE (Precio Mensual) </td>
          <td style=""> <input value="Consultar" style="width: 80px; text-align:right"></input>
          </td>
        </tr>
        </tr>
        <tr>
          <td class="td_r_f" style="align-items:left; text-align:left"> RECOGIDAS FIJAS </td>
          <td style=""> <input value="Consultar" style="width: 80px; text-align:right"></input>
          </td>
        </tr>
        </tr>
        <br><br><br>
        <tr>
          <td class="td_r_f" style="align-items:left; text-align:left"> REPARTOS MASIVOS </td>
          <td style=""> <input value="Consultar" style="width: 80px; text-align:right"></input>
          </td>
        </tr>
      </tbody>
    </table>
  <div class="div_contact_2">
      <span class="fixed-color2 "> </span>
  </div>
    <div class="div_contact_1">

    <p>TELEFONO ATENCION AL CLIENTE 915 36 08 84 www.instapack.es</p>
     </div>

    <div class="div_contact_2">
    <p>ESTOS PRECIOS NO INCLUYEN IVA</p>
    </div>

  </div>
</div>

<div style="width: 29%">
  <br>
  <div class="card-body">
    <div style="border-left: 2px black solid;padding: 19px 0 10px 0px">
      <h5 class="card-title description-column-element">MOTO URGENTE</h5>
    </div>
    <p align="left" class="card-text">Se considera dirección cualquier punto de recogida o entrega, incluído en el casco urbano.</p>
  </div>

  <div class="card-body-1">
    <div style="border-left: 2px black solid;padding: 25px 0 10px 0px;margin-left: 20px;margin-top: 80px;">
      <h5 class="card-title description-column-element">FURGONETAS</h5>
    </div>
    <p align="left" class="card-text" style="margin-left: 20px;">En función de sus necesidades de envío y con la posibilidad de contar con un ayudante.</p>
  </div>
  <div class="card-body-2">
    <div style="border-left: 2px black solid; padding: 19px 0 10px 0px;margin-left: 20px;margin-top: 103px">
      <h5 class="card-title description-column-element">VEHICULOS FIJOS</h5>
    </div>
    <p align="left" class="card-text" style="margin-left: 20px"> En horario a determinar. Sin ningún recargo adicional. Incluidas sustituciones por averías, enfermedad, etc. Personal
      uniformado y dotado de teléfono móvil.</p>
  </div>
</div>
</div>