
  <div class="col-sm-12 div_btn_function">
    <b class="not_print">EXPORTAR</b> <button class="not_print" id="print_servicio_insular" style="cursor: pointer; padding: 2px"><img style="cursor: pointer" height="20" src="imprimir.png"></img></button>
  </div>
  <div class="alert alert-danger" id="msgAlertReportNacional" role="alert" hidden="true">
    NO se puede mostrar este reporte para este cliente , no tiene una tarifa NR* o N2*
  </div>
  <div class="col-sm-12  div_title">
    <h3 style="color: black; border: 1px gray solid; padding: 5px 5px 5px 5px; background-color: white; text-align: center">SERVICIO INSULAR
    </h3>
  </div>

 <div class="row col-sm-12   div_1">
    <div class="  div_tarifa">
      <p>TARIFA 2019</p>
    </div>
    <div class=" div_name_cliente">
      <p>NOMBRE DEL CLIENTE</p>
    </div>
  </div>

  <table class="table_servicios_insulares">
    <thead>
      <th style="width: 15.8%">
      </th>
      <th style="width: 5.3%">
      </th>
      <th style="width: 13%">
      </th>
      <th style="width: 13%">
      </th>
       <th style="width: 1.1%">
      </th>
      <th style="width: 13%">
      </th>
      <th style="width: 13%">
      </th>
      <th style="width: 10%">
      </th>
      <th style="width: 15.8%">
      </th>
    </thead>
    <tbody>

      <tr class="tr_1">
        <td></td>
        <td></td>
        <td class="td_blue" colspan="2">ISLAS CANARIAS</td>
        <td ></td>       
        <td class="td_blue" colspan="2">ISLAS BALEARES</td>
         <td></td>
        <td ></td>
        <td colspan="2"></td>
        <td></td>
      </tr>

      <tr class="tr_2">
        <td></td>
        <td></td>
        <td class="td_blue_1"> MAYORES</td>
        <td class="td_blue_2"> MENORES</td>
        <td></td>
        <td class="td_blue_1">MAYORES</td>
        <td class="td_blue_2">MENORES</td>
        <td></td>
        <td class="td_gray" rowspan="4">SERVICIO 24H</td>
      </tr>

      <tr class="tr_3">
        <td class="td_1">PESO</td>
        <td  class="td_2" colspan="7"></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>

      <tr>
        <td class="td_1"> 1 Kilo</td>
        <td></td>
        <td class="td_content td_content_1"><input id="5221" refid="5222" desde="2" value="€" style="width: 80px;text-align:right;"></td>
        <td class="td_content"><input id="5011" refid="5012" value="€" style="width: 80px;text-align:right;"></td>
        <td class="td_content td_blue_3"></td>
        <td class="td_content"><input id="8401" refid="8402" value="€" style="width: 80px;text-align:right;"></td>
        <td class="td_content td_content_5"><input id="3291" value="€" style="width: 80px;text-align:right;"></td>
        <td rowspan="7"></td>
        <td></td>
      </tr>

      <tr>
        <td class="td_1"> 2 Kilos</td>
        <td></td>
        <td class="td_content td_content_1"><input id="5222" value="€" style="width: 80px;text-align:right;"></td>
        <td class="td_content"><input id="5012" value="€" style="width: 80px;text-align:right;"></td>
        <td class="td_content td_blue_3"></td>
        <td class="td_content "><input id="8402" value="€" style="width: 80px;text-align:right;"></td>
        <td class="td_content td_content_5"><input id="3292" value="€" style="width: 80px;text-align:right;"></td>
        <td></td>
        <td></td>
      </tr>

      <tr>
        <td class="td_1"> 3 Kilos</td>
        <td></td>
        <td class="td_content td_content_1"><input id="5223" refid="5225" value="€" style="width: 80px;text-align:right;"></td>
        <td class="td_content"><input id="5013" refid="5015" value="€" style="width: 80px;text-align:right;"></td>
        <td class="td_content td_blue_3"></td>
        <td class="td_content"><input id="8403" refid="8405" value="€" style="width: 80px;text-align:right;"></td>
        <td class="td_content td_content_5"><input id="3293" value="€" style="width: 80px;text-align:right;"></td>
        <td></td>
        <td></td>
      </tr>    

      <tr>
        <td class="td_1"> Kilo Adicional</td>
        <td></td>
        <td class="td_content td_content_1"><input id="522" refid="kg" value="€" style="width: 80px;text-align:right;"></td>
        <td class="td_content"><input id="501" refid="kg" value="€" style="width: 80px;text-align:right;"></td>
        <td class="td_content td_blue_3"></td>
        <td class="td_content"><input id="840" refid="kg" value="€" style="width: 80px;text-align:right;"></td>
        <td class="td_content td_content_5"><input id="329999" value="€" style="width: 80px;text-align:right;"></td>
        <td></td>
        <td></td>
      </tr>
    </tbody>
  </table>
  <br>
  <br>
  <br>

  <table class="table_servicios_insulares">
    <thead>
      <th style="width: 15.8%">
      </th>
      <th style="width: 5.3%">
      </th>
      <th style="width: 13%">
      </th>
      <th style="width: 13%">
      </th>
       <th style="width: 1.1%">
      </th>
      <th style="width: 13%">
      </th>
      <th style="width: 13%">
      </th>
      <th style="width: 10%">
      </th>
      <th style="width: 15.8%">
      </th>
    </thead>
    <tbody>

      <tr class="tr_1">
        <td></td>
        <td></td>
        <td class="td_blue" colspan="2">ISLAS CANARIAS</td>
        <td ></td>       
        <td class="td_blue" colspan="2">ISLAS BALEARES</td>
         <td></td>
        <td ></td>
        <td colspan="2"></td>
        <td></td>
      </tr>

      <tr class="tr_2">
        <td></td>
        <td></td>
        <td class="td_blue_1"> MAYORES</td>
        <td class="td_blue_2"> MENORES</td>
        <td></td>
        <td class="td_blue_1">MAYORES</td>
        <td class="td_blue_2">MENORES</td>
        <td></td>
        <td class="td_gray" rowspan="4">SERVICIO 13H</td>
      </tr>

      <tr class="tr_3">
        <td class="td_1">PESO</td>
        <td  class="td_2" colspan="7"></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>

      <tr>
        <td class="td_1"> 1 Kilo</td>
        <td></td>
        <td class="td_content td_content_1"><input id="5221" refid="5222" desde="2" value="€" style="width: 80px;text-align:right;"></td>
        <td class="td_content"><input id="5011" refid="5012" value="€" style="width: 80px;text-align:right;"></td>
        <td class="td_content td_blue_3"></td>
        <td class="td_content"><input id="8401" refid="8402" value="€" style="width: 80px;text-align:right;"></td>
        <td class="td_content td_content_5"><input id="3291" value="€" style="width: 80px;text-align:right;"></td>
        <td rowspan="7"></td>
        <td></td>
      </tr>

      <tr>
        <td class="td_1"> 2 Kilos</td>
        <td></td>
        <td class="td_content td_content_1"><input id="5222" value="€" style="width: 80px;text-align:right;"></td>
        <td class="td_content"><input id="5012" value="€" style="width: 80px;text-align:right;"></td>
        <td class="td_content td_blue_3"></td>
        <td class="td_content "><input id="8402" value="€" style="width: 80px;text-align:right;"></td>
        <td class="td_content td_content_5"><input id="3292" value="€" style="width: 80px;text-align:right;"></td>
        <td></td>
        <td></td>
      </tr>

      <tr>
        <td class="td_1"> 3 Kilos</td>
        <td></td>
        <td class="td_content td_content_1"><input id="5223" refid="5225" value="€" style="width: 80px;text-align:right;"></td>
        <td class="td_content"><input id="5013" refid="5015" value="€" style="width: 80px;text-align:right;"></td>
        <td class="td_content td_blue_3"></td>
        <td class="td_content"><input id="8403" refid="8405" value="€" style="width: 80px;text-align:right;"></td>
        <td class="td_content td_content_5"><input id="3293" value="€" style="width: 80px;text-align:right;"></td>
        <td></td>
        <td></td>
      </tr>    

      <tr>
        <td class="td_1"> Kilo Adicional</td>
        <td></td>
        <td class="td_content td_content_1"><input id="522" refid="kg" value="€" style="width: 80px;text-align:right;"></td>
        <td class="td_content"><input id="501" refid="kg" value="€" style="width: 80px;text-align:right;"></td>
        <td class="td_content td_blue_3"></td>
        <td class="td_content"><input id="840" refid="kg" value="€" style="width: 80px;text-align:right;"></td>
        <td class="td_content td_content_5"><input id="329999" value="€" style="width: 80px;text-align:right;"></td>
        <td></td>
        <td></td>
      </tr>
    </tbody>
  </table>
  <br>
  <br>
  <br>

  <table class="table_servicios_insulares">
    <thead>
      <th style="width: 15.8%">
      </th>
      <th style="width: 5.3%">
      </th>
      <th style="width: 13%">
      </th>
      <th style="width: 13%">
      </th>
       <th style="width: 1.1%">
      </th>
      <th style="width: 13%">
      </th>
      <th style="width: 13%">
      </th>
      <th style="width: 10%">
      </th>
      <th style="width: 15.8%">
      </th>
    </thead>
    <tbody>

      <tr class="tr_1">
        <td></td>
        <td></td>
        <td class="td_blue" colspan="2">ISLAS CANARIAS</td>
        <td ></td>       
        <td class="td_blue" colspan="2">ISLAS BALEARES</td>
         <td></td>
        <td ></td>
        <td colspan="2"></td>
        <td></td>
      </tr>

      <tr class="tr_2">
        <td></td>
        <td></td>
        <td class="td_blue_1"> MAYORES</td>
        <td class="td_blue_2"> MENORES</td>
        <td></td>
        <td class="td_blue_1">MAYORES</td>
        <td class="td_blue_2">MENORES</td>
        <td></td>
        <td class="td_gray" rowspan="4">SERVICIO 10H</td>
      </tr>

      <tr class="tr_3">
        <td class="td_1">PESO</td>
        <td  class="td_2" colspan="7"></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>

      <tr>
        <td class="td_1"> 1 Kilo</td>
        <td></td>
        <td class="td_content td_content_1"><input id="5221" refid="5222" desde="2" value="€" style="width: 80px;text-align:right;"></td>
        <td class="td_content"><input id="5011" refid="5012" value="€" style="width: 80px;text-align:right;"></td>
        <td class="td_content td_blue_3"></td>
        <td class="td_content"><input id="8401" refid="8402" value="€" style="width: 80px;text-align:right;"></td>
        <td class="td_content td_content_5"><input id="3291" value="€" style="width: 80px;text-align:right;"></td>
        <td rowspan="7"></td>
        <td></td>
      </tr>

      <tr>
        <td class="td_1"> 2 Kilos</td>
        <td></td>
        <td class="td_content td_content_1"><input id="5222" value="€" style="width: 80px;text-align:right;"></td>
        <td class="td_content"><input id="5012" value="€" style="width: 80px;text-align:right;"></td>
        <td class="td_content td_blue_3"></td>
        <td class="td_content "><input id="8402" value="€" style="width: 80px;text-align:right;"></td>
        <td class="td_content td_content_5"><input id="3292" value="€" style="width: 80px;text-align:right;"></td>
        <td></td>
        <td></td>
      </tr>

      <tr>
        <td class="td_1"> 3 Kilos</td>
        <td></td>
        <td class="td_content td_content_1"><input id="5223" refid="5225" value="€" style="width: 80px;text-align:right;"></td>
        <td class="td_content"><input id="5013" refid="5015" value="€" style="width: 80px;text-align:right;"></td>
        <td class="td_content td_blue_3"></td>
        <td class="td_content"><input id="8403" refid="8405" value="€" style="width: 80px;text-align:right;"></td>
        <td class="td_content td_content_5"><input id="3293" value="€" style="width: 80px;text-align:right;"></td>
        <td></td>
        <td></td>
      </tr>    

      <tr>
        <td class="td_1"> Kilo Adicional</td>
        <td></td>
        <td class="td_content td_content_1"><input id="522" refid="kg" value="€" style="width: 80px;text-align:right;"></td>
        <td class="td_content"><input id="501" refid="kg" value="€" style="width: 80px;text-align:right;"></td>
        <td class="td_content td_blue_3"></td>
        <td class="td_content"><input id="840" refid="kg" value="€" style="width: 80px;text-align:right;"></td>
        <td class="td_content td_content_5"><input id="329999" value="€" style="width: 80px;text-align:right;"></td>
        <td></td>
        <td></td>
      </tr>
    </tbody>
  </table>
  <br>
  <br>
  <br>


  <div class=" col-sm-12 div_contact_1">
    <p>TELEFONO ATENCION AL CLIENTE 902 42 00 43 ics.es</p>
  </div>
  <div class=" col-sm-12 div_contact_2">
    <a>WWW.INSTAPACK.ES</a>
  </div>
  <div class=" col-sm-12 div_message">
    <p>ESTOS PRECIOS NO INCLUYEN IVA</p>
  </div>

