<div class="col-sm-12 div_btn_function">
  <b class="not_print">EXPORTAR</b> <button class="not_print" id="print_servicio_nacional" 
  style="cursor: pointer; padding: 2px"><img style="cursor: pointer" height="20" src="imprimir.png"></img></button>

</div>
<div class="alert alert-danger" id="msgAlertReportNacional" role="alert" hidden="true">
  No se puede mostrar este reporte para este cliente , no tiene una tarifa NR* o N2*
</div>
<div class="col-sm-12 div_title" style="padding-top:  0 !important;">
  <h3 id="codeClientNacional" style="color: black; border: 1px gray solid; padding: 5px 5px 5px 5px; background-color: white; text-align: center">
  Servicios Nacionales
  </h3>
</div>
<div class="row col-sm-12   div_1">
    <div class="  div_tarifa">
      <p>TARIFA 2019</p>
    </div>
    
  </div>
<table class="table_servicios_nacionales">
  <thead>
    <th style="width: 15.8%">
    </th>
    <th style="width: 5.3%">
    </th>
    <th style="width: 13.15%">
    </th>
    <th style="width: 13.15%">
    </th>
    <th style="width: 13.15%">
    </th>
    <th style="width: 13.15%">
    </th>
    <th style="width: 10.5%">
    </th>
    <th style="width: 15.8%">
    </th>
  </thead>
  <tbody>
    <tr class="tr_1">
      <td></td>
      <td class="td_2"></td>
      <td class="td_blue"> PROVINCIAL</td>
      <td class="td_blue"> PENINSULAR</td>
      <td class="td_blue">PORTUGAL, ANDORRA</td>
      <td class="td_blue">CEUTA, MELILLA,GIBRALTAR</td>
      <td class="td_7"></td>
      <td class="td_gray" rowspan="4">SERVICIO 24H</td>
    </tr>

    <tr class="tr_2">
      <td class="td_1" colspan="7">Peso</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>

    <tr>
      <td class="td_1"> 1 Kilo</td>
      <td></td>
      <td class="td_content td_content_1"><input id="5221" refid="5222" desde="2" value="€" style="width: 80px;text-align:right;"></td>
      <td class="td_content"><input id="5011" refid="5012" value="€" style="width: 80px;text-align:right;"></td>
      <td class="td_content"><input id="8401" refid="8402" value="€" style="width: 80px;text-align:right;"></td>
      <td class="td_content td_content_4"><input id="3291" value="€" style="width: 80px;text-align:right;"></td>
      <td rowspan="7"></td>
      <td></td>
    </tr>

    <tr>
      <td class="td_1"> 2 Kilos</td>
      <td></td>
      <td class="td_content td_content_1"><input id="5222" value="€" style="width: 80px;text-align:right;"></td>
      <td class="td_content"><input id="5012" value="€" style="width: 80px;text-align:right;"></td>
      <td class="td_content"><input id="8402" value="€" style="width: 80px;text-align:right;"></td>
      <td class="td_content td_content_4"><input id="3292" value="€" style="width: 80px;text-align:right;"></td>
      <td></td>
      <td></td>
    </tr>

    <tr>
      <td class="td_1"> 3 Kilos</td>
      <td></td>
      <td class="td_content td_content_1"><input id="5223" refid="5225" value="€" style="width: 80px;text-align:right;"></td>
      <td class="td_content"><input id="5013" refid="5015" value="€" style="width: 80px;text-align:right;"></td>
      <td class="td_content"><input id="8403" refid="8405" value="€" style="width: 80px;text-align:right;"></td>
      <td class="td_content td_content_4"><input id="3293" value="€" style="width: 80px;text-align:right;"></td>
      <td></td>
      <td></td>
    </tr>

    <tr>
      <td class="td_1"> 5 Kilos</td>
      <td></td>
      <td class="td_content td_content_1"><input id="5225" value="€" style="width: 80px;text-align:right;"></td>
      <td class="td_content"><input id="5015" value="€" style="width: 80px;text-align:right;"></td>
      <td class="td_content"><input id="8405" value="€" style="width: 80px;text-align:right;"></td>
      <td class="td_content td_content_4"><input id="3295" value="0.00 €" style="width: 80px;text-align:right;"></td>
      <td></td>
      <td></td>
    </tr>

    <tr>
      <td class="td_1"> 10 Kilos</td>
      <td></td>
      <td class="td_content td_content_1"><input id="52210" value="€" style="width: 80px;text-align:right;"></td>
      <td class="td_content"><input id="50110" value="€" style="width: 80px;text-align:right;"></td>
      <td class="td_content"><input id="84010" value="€" style="width: 80px;text-align:right;"></td>
      <td class="td_content td_content_4"><input id="32910" value="0.00 €" style="width: 80px;text-align:right;"></td>
      <td></td>
      <td></td>
    </tr>

    <tr>
      <td class="td_1"> 15 Kilos</td>
      <td></td>
      <td class="td_content td_content_1"><input id="52215" value="€" style="width: 80px;text-align:right;"></td>
      <td class="td_content"><input id="50115" value="€" style="width: 80px;text-align:right;"></td>
      <td class="td_content"><input id="84015" value="€" style="width: 80px;text-align:right;"></td>
      <td class="td_content td_content_4"><input id="32915" value="0.00 €" style="width: 80px;text-align:right;"></td>
      <td></td>
      <td></td>
    </tr>

    <tr>
      <td class="td_1"> * Kilo Adicional</td>
      <td></td>
      <td class="td_content td_content_1"><input id="522" refid="kg" value="€" style="width: 80px;text-align:right;"></td>
      <td class="td_content"><input id="501" refid="kg" value="€" style="width: 80px;text-align:right;"></td>
      <td class="td_content"><input id="840" refid="kg" value="€" style="width: 80px;text-align:right;"></td>
      <td class="td_content td_content_4"><input id="329" refid="kg"  value="€" style="width: 80px;text-align:right;"></td>
      <td></td>
      <td></td>
    </tr>

  </tbody>
</table>

<table class="table_servicios_nacionales">
  <thead>
    <th style="width: 15.8%">
    </th>
    <th style="width: 5.3%">
    </th>
    <th style="width: 13.15%">
    </th>
    <th style="width: 13.15%">
    </th>
    <th style="width: 13.15%">
    </th>
    <th style="width: 13.15%">
    </th>
    <th style="width: 10.5%">
    </th>
    <th style="width: 15.8%">
    </th>
  </thead>
  <tbody>
    <tr class="tr_1">
      <td></td>
      <td class="td_2"></td>
      <span class="fixed-color1"> * El Kilo adicional sera en fracciones de 5 Kg. Excepto Ceuta Melilla y Gibraltar </span>
      <td class="td_blue"> PROVINCIAL</td>
      <td class="td_blue"> PENINSULAR</td>
      <td class="td_blue">PORTUGAL, ANDORRA</td>
      <td class="td_blue">CEUTA, MELILLA,GIBRALTAR</td>
      <td class="td_7"></td>
      <td class="td_gray" rowspan="4">SERVICIO 13H</td>
    </tr>

    <tr class="tr_2">
      <td class="td_1" colspan="7">Peso</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>

    <tr>
      <td class="td_1"> 1 Kilo</td>
      <td></td>
      <td class="td_content td_content_1"><input id="5231" refid="5232" value="€" style="width: 80px;text-align:right;"></td>
      <td class="td_content"><input id="5031" refid="5032" value="€" style="width: 80px;text-align:right;"></td>
      <td class="td_content"><input id="8411" refid="8412" value="€" style="width: 80px;text-align:right;"></td>
      <td class="td_content td_content_4"><input id="3301" value="€" style="width: 80px;text-align:right;"></td>
      <td rowspan="7"></td>
      <td></td>
    </tr>

    <tr>
      <td class="td_1"> 2 Kilos</td>
      <td></td>
      <td class="td_content td_content_1"><input id="5232" value="€" style="width: 80px;text-align:right;"></td>
      <td class="td_content"><input id="5032" value="€" style="width: 80px;text-align:right;"></td>
      <td class="td_content"><input id="8412" value="€" style="width: 80px;text-align:right;"></td>
      <td class="td_content td_content_4"><input id="3302" value="€" style="width: 80px;text-align:right;"></td>
      <td></td>
      <td></td>
    </tr>

    <tr>
      <td class="td_1"> 3 Kilos</td>
      <td></td>
      <td class="td_content td_content_1"><input id="5233" refid="5235" value="€" style="width: 80px;text-align:right;"></td>
      <td class="td_content"><input id="5033" refid="5035" value="€" style="width: 80px;text-align:right;"></td>
      <td class="td_content"><input id="8413" refid="8415" value="€" style="width: 80px;text-align:right;"></td>
      <td class="td_content td_content_4"><input id="3303" value="€" style="width: 80px;text-align:right;"></td>
      <td></td>
      <td></td>
    </tr>

    <tr>
      <td class="td_1"> 5 Kilos</td>
      <td></td>
      <td class="td_content td_content_1"><input id="5235" value="€" style="width: 80px;text-align:right;"></td>
      <td class="td_content"><input id="5035" value="€" style="width: 80px;text-align:right;"></td>
      <td class="td_content"><input id="8415" value="€" style="width: 80px;text-align:right;"></td>
      <td class="td_content td_content_4"><input id="3305" value="0.00 €" style="width: 80px;text-align:right;"></td>
      <td></td>
      <td></td>
    </tr>

    <tr>
      <td class="td_1"> 10 Kilos</td>
      <td></td>
      <td class="td_content td_content_1"><input id="52310" value="€" style="width: 80px;text-align:right;"></td>
      <td class="td_content"><input id="50310" value="€" style="width: 80px;text-align:right;"></td>
      <td class="td_content"><input id="84110" value="€" style="width: 80px;text-align:right;"></td>
      <td class="td_content td_content_4"><input id="33010" value="0.00 €" style="width: 80px;text-align:right;"></td>
      <td></td>
      <td></td>
    </tr>

    <tr>
      <td class="td_1"> 15 Kilos</td>
      <td></td>
      <td class="td_content td_content_1"><input id="52315" value="€" style="width: 80px;text-align:right;"></td>
      <td class="td_content"><input id="50315" value="€" style="width: 80px;text-align:right;"></td>
      <td class="td_content"><input id="84115" value="€" style="width: 80px;text-align:right;"></td>
      <td class="td_content td_content_4"><input id="33015" value="0.00 €" style="width: 80px;text-align:right;"></td>
      <td></td>
      <td></td>
    </tr>

    <tr>
      <td class="td_1"><span class="fixed-color">*</span> Kilo Adicional</td>
      <td></td>
      <td class="td_content td_content_1"><input id="523" refid="kg" value="€" style="width: 80px;text-align:right;"></td>
      <td class="td_content"><input id="503" refid="kg" value="€" style="width: 80px;text-align:right;"></td>
      <td class="td_content"><input id="841" refid="kg" value="€" style="width: 80px;text-align:right;"></td>
      <td class="td_content td_content_4"><input id="330" refid="kg" value="€" style="width: 80px;text-align:right;"></td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>

<table class="table_servicios_nacionales">
  <thead>
    <th style="width: 15.8%">
    </th>
    <th style="width: 5.3%">
    </th>
    <th style="width: 13.15%">
    </th>
    <th style="width: 13.15%">
    </th>
    <th style="width: 13.15%">
    </th>
    <th style="width: 13.15%">
    </th>
    <th style="width: 10.5%">
    </th>
    <th style="width: 15.8%">
    </th>
  </thead>
  <tbody>
    <tr class="tr_1">
      <td></td>
      <td class="td_2"></td>
      <td class="td_blue"> PROVINCIAL</td>
      <td class="td_blue"> PENINSULAR</td>
      <td class="td_blue">PORTUGAL, ANDORRA</td>
      <td class="td_blue">CEUTA, MELILLA,GIBRALTAR</td>
      <td class="td_7"></td>
      <td class="td_gray" rowspan="4">SERVICIO 10H</td>
    </tr>

    <tr class="tr_2">
      <td class="td_1" colspan="7">Peso</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>

    <tr>
      <td class="td_1"> 1 Kilo</td>
      <td></td>
      <td class="td_content td_content_1"><input id="5491" refid="5492" value="€" style="width: 80px;text-align:right;"></td>
      <td class="td_content"><input id="5041" refid="5042" value="€" style="width: 80px;text-align:right;"></td>
      <td class="td_content"><input id="8421" refid="8422" value="€" style="width: 80px;text-align:right;"></td>
      <td class="td_content td_content_4"><input id="3311" value="€" style="width: 80px;text-align:right;"></td>
      <td rowspan="7"></td>
      <td></td>
    </tr>

    <tr>
      <td class="td_1"> 2 Kilos</td>
      <td></td>
      <td class="td_content td_content_1"><input id="5492" value="€" style="width: 80px;text-align:right;"></td>
      <td class="td_content"><input id="5042" value="€" style="width: 80px;text-align:right;"></td>
      <td class="td_content"><input id="8422" value="€" style="width: 80px;text-align:right;"></td>
      <td class="td_content td_content_4"><input id="3312" value="€" style="width: 80px;text-align:right;"></td>
      <td></td>
      <td></td>
    </tr>

    <tr>
      <td class="td_1"> 3 Kilos</td>
      <td></td>
      <td class="td_content td_content_1"><input id="5493" refid="5495" value="€" style="width: 80px;text-align:right;"></td>
      <td class="td_content"><input id="5043" refid="5045" value="€" style="width: 80px;text-align:right;"></td>
      <td class="td_content"><input id="8423" refid="8425" value="€" style="width: 80px;text-align:right;"></td>
      <td class="td_content td_content_4"><input id="3313" value="€" style="width: 80px;text-align:right;"></td>
      <td></td>
      <td></td>
    </tr>

    <tr>
      <td class="td_1"> 5 Kilos</td>
      <td></td>
      <td class="td_content td_content_1"><input id="5495" value="€" style="width: 80px;text-align:right;"></td>
      <td class="td_content"><input id="5045" value="€" style="width: 80px;text-align:right;"></td>
      <td class="td_content"><input id="8425" value="€" style="width: 80px;text-align:right;"></td>
      <td class="td_content td_content_4"><input id="3313" value="0.00 €" style="width: 80px;text-align:right;"></td>
      <td></td>
      <td></td>
    </tr>

    <tr>
      <td class="td_1"> 10 Kilos</td>
      <td></td>
      <td class="td_content td_content_1"><input id="54910" value="€" style="width: 80px;text-align:right;"></td>
      <td class="td_content"><input id="50410" value="€" style="width: 80px;text-align:right;"></td>
      <td class="td_content"><input id="84210" value="€" style="width: 80px;text-align:right;"></td>
      <td class="td_content td_content_4"><input id="33110" value="0.00 €" style="width: 80px;text-align:right;"></td>
      <td></td>
      <td></td>
    </tr>

    <tr>
      <td class="td_1"> 15 Kilos</td>
      <td></td>
      <td class="td_content td_content_1"><input id="54915" value="€" style="width: 80px;text-align:right;"></td>
      <td class="td_content"><input id="50415" value="€" style="width: 80px;text-align:right;"></td>
      <td class="td_content"><input id="84215" value="€" style="width: 80px;text-align:right;"></td>
      <td class="td_content td_content_4"><input id="33115" value="0.00 €" style="width: 80px;text-align:right;"></td>
      <td></td>
      <td></td>
    </tr>

    <tr>
      <td class="td_1"> <span class="fixed-color">*</span> Kilo Adicional</td>
      <td></td>
      <td class="td_content td_content_1"><input id="549" refid="kg" value="€" style="width: 80px;text-align:right;"></td>
      <td class="td_content"><input id="504" refid="kg" value="€" style="width: 80px;text-align:right;"></td>
      <td class="td_content"><input id="842" refid="kg" value="€" style="width: 80px;text-align:right;"></td>
      <td class="td_content td_content_4"><input id="331" refid="kg" value="€" style="width: 80px;text-align:right;"></td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>

<table class="table_servicios_nacionales">
  <thead>
    <th style="width: 15.8%">
    </th>
    <th style="width: 5.3%">
    </th>
    <th style="width: 13.15%">
    </th>
    <th style="width: 13.15%">
    </th>
    <th style="width: 13.15%">
    </th>
    <th style="width: 13.15%">
    </th>
    <th style="width: 10.5%">
    </th>
    <th style="width: 15.8%">
    </th>
  </thead>
  <tbody>
    <tr class="tr_1">
      <td></td>
      <td class="td_2"></td>
      <td class="td_blue"> PROVINCIAL</td>
      <td class="td_blue"> PENINSULAR</td>
      <td class="td_blue">PORTUGAL, ANDORRA</td>
      <td class="td_blue">CEUTA, MELILLA,GIBRALTAR</td>
      <td class="td_7"></td>
      <td class="td_gray" rowspan="4">SERVICIO 8:30H</td>
    </tr>

    <tr class="tr_2">
      <td class="td_1" colspan="7">Peso</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>

    <tr>
      <td class="td_1"> 1 Kilo</td>
      <td></td>
      <td class="td_content td_content_1"><input id="5251" refid="5252" value="€" style="width: 80px;text-align:right;"></td>
      <td class="td_content"><input id="5051" refid="5052" value="€" style="width: 80px;text-align:right;"></td>
      <td class="td_1" style="border-top: 2px black solid"> </td>
      <td class="td_1" style="border-top: 2px black solid; border-right: 2px black solid"></td>
      <td rowspan="7"></td>
      <td></td>
    </tr>

    <tr>
      <td class="td_1"> 2 Kilos</td>
      <td></td>
      <td class="td_content td_content_1"><input id="5252" value="€" style="width: 80px;text-align:right;"></td>
      <td class="td_content"><input id="5052" value="€" style="width: 80px;text-align:right;"></td>
      <td class="td_1"></td>
      <td class="td_1" style="border-right: 2px black solid"></td>
      <td></td>
      <td></td>
    </tr>

    <tr>
      <td class="td_1"> 3 Kilos</td>
      <td></td>
      <td class="td_content td_content_1"><input id="5253" refid="5255" value="€" style="width: 80px;text-align:right;"></td>
      <td class="td_content"><input id="5053" refid="5055" value="€" style="width: 80px;text-align:right;"></td>
      <td class="td_1"></td>
      <td class="td_1" style="border-right: 2px black solid"></td>
      <td></td>
      <td></td>
    </tr>

    <tr>
      <td class="td_1"> 5 Kilos</td>
      <td></td>
      <td class="td_content td_content_1"><input id="5255" value="€" style="width: 80px;text-align:right;"></td>
      <td class="td_content"><input id="5055" value="€" style="width: 80px;text-align:right;"></td>
      <td class="td_1"></td>
      <td class="td_1" style="border-right: 2px black solid"></td>
      <td></td>
      <td></td>
    </tr>

    <tr>
      <td class="td_1"> 10 Kilos</td>
      <td></td>
      <td class="td_content td_content_1"><input id="52510" value="€" style="width: 80px;text-align:right;"></td>
      <td class="td_content"><input id="50510" value="€" style="width: 80px;text-align:right;"></td>
      <td class="td_1"></td>
      <td class="td_1" style="border-right: 2px black solid"></td>
      <td></td>
      <td></td>
    </tr>

    <tr>
      <td class="td_1"> 15 Kilos</td>
      <td></td>
      <td class="td_content td_content_1"><input id="52515" value="€" style="width: 80px;text-align:right;"></td>
      <td class="td_content"><input id="50515" value="€" style="width: 80px;text-align:right;"></td>
      <td class="td_1"></td>
      <td class="td_1" style="border-right: 2px black solid"></td>
      <td></td>
      <td></td>
    </tr>

    <tr>
      <td class="td_1"> <span class="fixed-color"> * </span> Kilo Adicional</td>
      <td></td>
      <td class="td_content td_content_1"><input id="525" refid="kg" value="€" style="width: 80px;text-align:right;"></td>
      <td class="td_content"><input id="505" refid="kg" value="€" style="width: 80px;text-align:right;"></td>
      <td class="td_1" style="border-bottom: 2px black solid "></td>
      <td class="td_1" style="border-bottom: 2px black solid;border-right: 2px black solid"></td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>

<div class=" col-sm-12 div_message_1">
  <span class="fixed-color "> * El Kilo adicional sera en fracciones de 5 Kg. Excepto Ceuta Melilla y Gibraltar </span>
</div>

<div class=" col-sm-12 div_contact_1">
  <p>TELEFONO ATENCION AL CLIENTE 902 42 00 43 www.instapack.es</p>
</div>
<div class=" col-sm-12 div_contact_2">
  <p>ESTOS PRECIOS NO INCLUYEN IVA</p>
</div>