
<div class="row col-sm-12  div_1">
    <div class="div_tarifa">
      <p>TARIFA <span class="this_year">____</span></p>
    </div>
    
  </div>
<table id="table_servicios_nacionales" class="table_servicios_nacionales">
  <thead>
    <th style="width: 15.8%">
    </th>
    <th style="width: 5.3%">
    </th>
    <th style="width: 13.15%">
    </th>
    <th style="width: 13.15%">
    </th>
    <th style="width: 13.15%">
    </th>
    <th style="width: 13.15%">
    </th>
    <th style="width: 10.5%">
    </th>
    <th style="width: 15.8%">
    </th>
  </thead>
  <tbody>
    <tr class="tr_1">
      <td></td>
      <td class="td_2"></td>
      <td class="td_blue"> PROVINCIAL</td>
      <td class="td_blue"> PENINSULAR</td>
      <td class="td_blue">PORTUGAL, ANDORRA</td>
      <td class="td_blue">CEUTA, MELILLA,GIBRALTAR</td>
      <td class="td_7"></td>
      <td class="td_gray" rowspan="4">SERVICIO 24H</td>
    </tr>

    <tr class="tr_2">
      <td class="td_1" colspan="7">Peso</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>

    <tr>
      <td class="td_1"> 1 Kilo</td>
      <td></td>
      <td class="td_content td_content_1"><input id="5221" element="522" tramo="1" desde="2" value="0.00 €" style="width: 80px;text-align:right;"></td>
      <td class="td_content"><input id="5011" element="501" tramo="1" value="0.00 €" style="width: 80px;text-align:right;"></td>
      <td class="td_content"><input id="8401" element="840" tramo="1" value="0.00 €"  element="322" tramo="1" style="width: 80px;text-align:right;"></td>
      <td class="td_content td_content_4"><input id="3291" element="329" tramo="1" value="0.00 €" style="width: 80px;text-align:right;"></td>
      <td rowspan="7"></td>
      <td></td>
    </tr>

    <tr>
      <td class="td_1"> 2 Kilos</td>
      <td></td>
      <td class="td_content td_content_1"><input id="5222" element="522" tramo="2" value="0.00 €" style="width: 80px;text-align:right;"></td>
      <td class="td_content"><input id="5012" element="501" tramo="2" value="0.00 €" style="width: 80px;text-align:right;"></td>
      <td class="td_content"><input id="8402" element="840" tramo="2" value="0.00 €" style="width: 80px;text-align:right;"></td>
      <td class="td_content td_content_4"><input id="3292" element="329" tramo="2" value="0.00 €" style="width: 80px;text-align:right;"></td>
      <td></td>
      <td></td>
    </tr>

    <tr>
      <td class="td_1"> 3 Kilos</td>
      <td></td>
      <td class="td_content td_content_1"><input id="5223" element="522" tramo="3" value="0.00 €" style="width: 80px;text-align:right;"></td>
      <td class="td_content"><input id="5013" element="501" tramo="3" value="0.00 €" style="width: 80px;text-align:right;"></td>
      <td class="td_content"><input id="8403" element="840" tramo="3" value="0.00 €" style="width: 80px;text-align:right;"></td>
      <td class="td_content td_content_4">
        <input id="3293" element="329" tramo="3" value="0.00 €" style="width: 80px;text-align:right;"></td>
      <td></td>
      <td></td>
    </tr>

    <tr>
      <td class="td_1"> 5 Kilos</td>
      <td></td>
      <td class="td_content td_content_1"><input id="5225" element="522" tramo="5" value="0.00 €" style="width: 80px;text-align:right;"></td>
      <td class="td_content"><input id="5015" element="501" tramo="5" value="0.00 €" style="width: 80px;text-align:right;"></td>
      <td class="td_content"><input id="8405" element="840" tramo="5" value="0.00 €" style="width: 80px;text-align:right;"></td>
      <td class="td_content td_content_4"><input id="3295" element="329" tramo="5" value="0.00 €" style="width: 80px;text-align:right;"></td>
      <td></td>
      <td></td>
    </tr>

    <tr>
      <td class="td_1"> 10 Kilos</td>
      <td></td>
      <td class="td_content td_content_1"><input id="52210" element="522" tramo="10" value="0.00 €" style="width: 80px;text-align:right;"></td>
      <td class="td_content"><input id="50110" element="501" tramo="10" value="0.00 €" style="width: 80px;text-align:right;"></td>
      <td class="td_content"><input id="84010" element="840" tramo="10" value="0.00 €" style="width: 80px;text-align:right;"></td>
      <td class="td_content td_content_4"><input id="32910" element="329" tramo="10" value="0.00 €" style="width: 80px;text-align:right;"></td>
      <td></td>
      <td></td>
    </tr>

    <tr>
      <td class="td_1"> 15 Kilos</td>
      <td></td>
      <td class="td_content td_content_1"><input id="52215" element="522" tramo="15" value="0.00 €" style="width: 80px;text-align:right;"></td>
      <td class="td_content"><input id="50115" element="501" tramo="15" value="0.00 €" style="width: 80px;text-align:right;"></td>
      <td class="td_content"><input id="84015" element="840" tramo="15" value="0.00 €" style="width: 80px;text-align:right;"></td>
      <td class="td_content td_content_4"><input id="32915" element="329" tramo="15" value="0.00 €" style="width: 80px;text-align:right;"></td>
      <td></td>
      <td></td>
    </tr>

    <tr>
      <td class="td_1"> * Kilo Adicional</td>
      <td></td>
      <td class="td_content td_content_1"><input id="522" element="522" refid="kg" value="0.00 €" style="width: 80px;text-align:right;"></td>
      <td class="td_content"><input id="501" element="501" refid="kg" value="0.00 €" style="width: 80px;text-align:right;"></td>
      <td class="td_content"><input id="840" element="840" refid="kg" value="0.00 €" style="width: 80px;text-align:right;"></td>
      <td class="td_content td_content_4"><input id="329" element="329" refid="kg"  value="0.00 €" style="width: 80px;text-align:right;"></td>
      <td></td>
      <td></td>
    </tr>

  </tbody>
</table>

<table class="table_servicios_nacionales">
  <thead>
    <th style="width: 15.8%">
    </th>
    <th style="width: 5.3%">
    </th>
    <th style="width: 13.15%">
    </th>
    <th style="width: 13.15%">
    </th>
    <th style="width: 13.15%">
    </th>
    <th style="width: 13.15%">
    </th>
    <th style="width: 10.5%">
    </th>
    <th style="width: 15.8%">
    </th>
  </thead>
  <tbody>
    <tr class="tr_1">
      <td></td>
      <td class="td_2"></td>
      <div class=" col-sm-12 div_message_1" >
      <span class="fixed-color1 ">* Los Servicios 8:30H y 10:00H sin agencia en destino llevaran recargo en Kms 
      </span>
      </div>      
      <td class="td_blue"> PROVINCIAL</td>
      <td class="td_blue"> PENINSULAR</td>
      <td class="td_blue">PORTUGAL, ANDORRA</td>
      <td class="td_blue">CEUTA, MELILLA,GIBRALTAR</td>
      <td class="td_7"></td>
      <td class="td_gray" rowspan="4">SERVICIO 13H</td>
    </tr>

    <tr class="tr_2">
      <td class="td_1" colspan="7">Peso</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>

    <tr>
      <td class="td_1"> 1 Kilo</td>
      <td></td>
      <td class="td_content td_content_1"><input id="5231" element="523" tramo="1" value="0.00 €" style="width: 80px;text-align:right;"></td>
      <td class="td_content"><input id="5031" element="503" tramo="1" value="0.00 €" style="width: 80px;text-align:right;"></td>
      <td class="td_content"><input id="8411" element="841" tramo="1" value="0.00 €" style="width: 80px;text-align:right;"></td>
      <td class="td_content td_content_4"><input id="3301" element="330" tramo="1" value="0.00 €" style="width: 80px;text-align:right;"></td>
      <td rowspan="7"></td>
      <td></td>
    </tr>

    <tr>
      <td class="td_1"> 2 Kilos</td>
      <td></td>
      <td class="td_content td_content_1"><input id="5232" element="523" tramo="2" value="0.00 €" style="width: 80px;text-align:right;"></td>
      <td class="td_content"><input id="5032" element="503" tramo="2" value="0.00 €" style="width: 80px;text-align:right;"></td>
      <td class="td_content"><input id="8412" element="841" tramo="2" value="0.00 €" style="width: 80px;text-align:right;"></td>
      <td class="td_content td_content_4"><input id="3302" element="330" tramo="2" value="0.00 €" style="width: 80px;text-align:right;"></td>
      <td></td>
      <td></td>
    </tr>

    <tr>
      <td class="td_1"> 3 Kilos</td>
      <td></td>
      <td class="td_content td_content_1"><input id="5233" element="523" tramo="3" value="0.00 €" style="width: 80px;text-align:right;"></td>
      <td class="td_content"><input id="5033" element="503" tramo="3" value="0.00 €" style="width: 80px;text-align:right;"></td>
      <td class="td_content"><input id="8413" element="841" tramo="3" value="0.00 €" style="width: 80px;text-align:right;"></td>
      <td class="td_content td_content_4"><input id="3303" element="330" tramo="3" value="0.00 €" style="width: 80px;text-align:right;"></td>
      <td></td>
      <td></td>
    </tr>

    <tr>
      <td class="td_1"> 5 Kilos</td>
      <td></td>
      <td class="td_content td_content_1"><input id="5235" element="523" tramo="5" value="0.00 €" style="width: 80px;text-align:right;"></td>
      <td class="td_content"><input id="5035" element="503" tramo="5" value="0.00 €" style="width: 80px;text-align:right;"></td>
      <td class="td_content"><input id="8415" element="841" tramo="5" value="0.00 €" style="width: 80px;text-align:right;"></td>
      <td class="td_content td_content_4"><input id="3305" element="330" tramo="5" value="0.00 €" style="width: 80px;text-align:right;"></td>
      <td></td>
      <td></td>
    </tr>

    <tr>
      <td class="td_1"> 10 Kilos</td>
      <td></td>
      <td class="td_content td_content_1"><input id="52310" element="523" tramo="10" value="0.00 €" style="width: 80px;text-align:right;"></td>
      <td class="td_content"><input id="50310" element="503" tramo="10" value="0.00 €" style="width: 80px;text-align:right;"></td>
      <td class="td_content"><input id="84110" element="841" tramo="10" value="0.00 €" style="width: 80px;text-align:right;"></td>
      <td class="td_content td_content_4"><input id="33010" element="330" tramo="10" value="0.00 €" style="width: 80px;text-align:right;"></td>
      <td></td>
      <td></td>
    </tr>

    <tr>
      <td class="td_1"> 15 Kilos</td>
      <td></td>
      <td class="td_content td_content_1"><input id="52315" element="523" tramo="15" value="0.00 €" style="width: 80px;text-align:right;"></td>
      <td class="td_content"><input id="50315"element="503" tramo="15" value="0.00 €" style="width: 80px;text-align:right;"></td>
      <td class="td_content"><input id="84115" element="841" tramo="15" value="0.00 €" style="width: 80px;text-align:right;"></td>
      <td class="td_content td_content_4"><input id="33015" element="330" tramo="15" value="0.00 €" style="width: 80px;text-align:right;"></td>
      <td></td>
      <td></td>
    </tr>

    <tr>
      <td class="td_1"> Kilo Adicional</td>
      <td></td>
      <td class="td_content td_content_1"><input id="523" refid="kg" value="0.00 €" style="width: 80px;text-align:right;"></td>
      <td class="td_content"><input id="503" refid="kg" value="0.00 €" style="width: 80px;text-align:right;"></td>
      <td class="td_content"><input id="841" refid="kg" value="0.00 €" style="width: 80px;text-align:right;"></td>
      <td class="td_content td_content_4"><input id="330" refid="kg" value="0.00 €" style="width: 80px;text-align:right;"></td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>

<table class="table_servicios_nacionales">
  <thead>
    <th style="width: 15.8%">
    </th>
    <th style="width: 5.3%">
    </th>
    <th style="width: 13.15%">
    </th>
    <th style="width: 13.15%">
    </th>
    <th style="width: 13.15%">
    </th>
    <th style="width: 13.15%">
    </th>
    <th style="width: 10.5%">
    </th>
    <th style="width: 15.8%">
    </th>
  </thead>
  <tbody>
    <tr class="tr_1">
      <td></td>
      <td class="td_2"></td>
      <td class="td_blue"> PROVINCIAL</td>
      <td class="td_blue"> PENINSULAR</td>
      <td class="td_blue">PORTUGAL, ANDORRA</td>
      <td class="td_blue">CEUTA, MELILLA,GIBRALTAR</td>
      <td class="td_7"></td>
      <td class="td_gray" rowspan="4">SERVICIO 10H</td>
    </tr>

    <tr class="tr_2">
      <td class="td_1" colspan="7">Peso</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>

    <tr>
      <td class="td_1"> 1 Kilo</td>
      <td></td>
      <td class="td_content td_content_1"><input id="5491" element="549" tramo="1" value="0.00 €" style="width: 80px;text-align:right;"></td>
      <td class="td_content"><input id="5041" element="504" tramo="1" value="0.00 €" style="width: 80px;text-align:right;"></td>
      <td class="td_content"><input id="8421" element="842" tramo="1" value="0.00 €" style="width: 80px;text-align:right;"></td>
      <td class="td_1" style="border-top: 2px black solid; border-right: 2px black solid"></td>
      <td rowspan="7"></td>
      <td></td>
    </tr>

    <tr>
      <td class="td_1"> 2 Kilos</td>
      <td></td>
      <td class="td_content td_content_1"><input id="5492" element="549" tramo="2" value="0.00 €" style="width: 80px;text-align:right;"></td>
      <td class="td_content"><input id="5042" element="504" tramo="2" value="0.00 €" style="width: 80px;text-align:right;"></td>
      <td class="td_content"><input id="8422" element="842" tramo="2" value="0.00 €" style="width: 80px;text-align:right;"></td>
      <td class="td_1" style="border-right: 2px black solid"></td>
      <td></td>
      <td></td>
    </tr>

    <tr>
      <td class="td_1"> 3 Kilos</td>
      <td></td>
      <td class="td_content td_content_1"><input id="5493" element="549" tramo="3" value="0.00 €" style="width: 80px;text-align:right;"></td>
      <td class="td_content"><input id="5043" element="504" tramo="3" value="0.00 €" style="width: 80px;text-align:right;"></td>
      <td class="td_content"><input id="8423" element="842" tramo="3" value="0.00 €" style="width: 80px;text-align:right;"></td>
     <td class="td_1" style="border-right: 2px black solid"></td>
      <td></td>
      <td></td>
    </tr>

    <tr>
      <td class="td_1"> 5 Kilos</td>
      <td></td>
      <td class="td_content td_content_1"><input id="5495" element="549" tramo="5" value="0.00 €" style="width: 80px;text-align:right;"></td>
      <td class="td_content"><input id="5045" element="504" tramo="5" value="0.00 €" style="width: 80px;text-align:right;"></td>
      <td class="td_content"><input id="8425" element="842" tramo="5" value="0.00 €" style="width: 80px;text-align:right;"></td>
      <td class="td_1" style="border-right: 2px black solid"></td>
      <td></td>
      <td></td>
    </tr>

    <tr>
      <td class="td_1"> 10 Kilos</td>
      <td></td>
      <td class="td_content td_content_1"><input id="54910" element="549" tramo="10" value="0.00 €" style="width: 80px;text-align:right;"></td>
      <td class="td_content"><input id="50410" element="504" tramo="10" value="0.00 €" style="width: 80px;text-align:right;"></td>
      <td class="td_content"><input id="84210" element="842" tramo="10" value="0.00 €" style="width: 80px;text-align:right;"></td>
      <td class="td_1" style="border-right: 2px black solid"></td>
      <td></td>
      <td></td>
    </tr>

    <tr>
      <td class="td_1"> 15 Kilos</td>
      <td></td>
      <td class="td_content td_content_1"><input id="54915" element="549" tramo="15" value="0.00 €" style="width: 80px;text-align:right;"></td>
      <td class="td_content"><input id="50415" element="504" tramo="15" value="0.00 €" style="width: 80px;text-align:right;"></td>
      <td class="td_content"><input id="84215" element="842" tramo="15" value="0.00 €" style="width: 80px;text-align:right;"></td>
      <td class="td_1" style="border-right: 2px black solid"></td>
      <td></td>
      <td></td>
    </tr>

    <tr>
      <td class="td_1">  Kilo Adicional</td>
      <td></td>
      <td class="td_content td_content_1"><input id="549" refid="kg" value="0.00 €" style="width: 80px;text-align:right;"></td>
      <td class="td_content"><input id="504" refid="kg" value="0.00 €" style="width: 80px;text-align:right;"></td>
      <td class="td_content"><input id="842" refid="kg" value="0.00 €" style="width: 80px;text-align:right;"></td>
      <td class="td_1" style="border-bottom:  2px black solid; border-right: 2px black solid"></td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>

<table class="table_servicios_nacionales">
  <thead>
    <th style="width: 15.8%">
    </th>
    <th style="width: 5.3%">
    </th>
    <th style="width: 13.15%">
    </th>
    <th style="width: 13.15%">
    </th>
    <th style="width: 13.15%">
    </th>
    <th style="width: 13.15%">
    </th>
    <th style="width: 10.5%">
    </th>
    <th style="width: 15.8%">
    </th>
  </thead>
  <tbody>
    <tr class="tr_1">
      <td></td>
      <td class="td_2"></td>
      <td class="td_blue"> PROVINCIAL</td>
      <td class="td_blue"> PENINSULAR</td>
      <td class="td_blue">PORTUGAL, ANDORRA</td>
      <td class="td_blue">CEUTA, MELILLA,GIBRALTAR</td>
      <td class="td_7"></td>
      <td class="td_gray" rowspan="4">SERVICIO 8:30H</td>
    </tr>

    <tr class="tr_2">
      <td class="td_1" colspan="7">Peso</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>

    <tr>
      <td class="td_1"> 1 Kilo</td>
      <td></td>
      <td class="td_content td_content_1"><input id="5251" element="525" tramo="1" value="0.00 €" style="width: 80px;text-align:right;"></td>
      <td class="td_content"><input id="5051" element="505" tramo="1" value="0.00 €" style="width: 80px;text-align:right;"></td>
      <td class="td_1" style="border-top: 2px black solid"> </td>
      <td class="td_1" style="border-top: 2px black solid; border-right: 2px black solid"></td>
      <td rowspan="7"></td>
      <td></td>
    </tr>

    <tr>
      <td class="td_1"> 2 Kilos</td>
      <td></td>
      <td class="td_content td_content_1"><input id="5252" element="525" tramo="2" value="0.00 €" style="width: 80px;text-align:right;"></td>
      <td class="td_content"><input id="5052" element="505" tramo="2" value="0.00 €" style="width: 80px;text-align:right;"></td>
      <td class="td_1"></td>
      <td class="td_1" style="border-right: 2px black solid"></td>
      <td></td>
      <td></td>
    </tr>

    <tr>
      <td class="td_1"> 3 Kilos</td>
      <td></td>
      <td class="td_content td_content_1"><input id="5253" element="525" tramo="3" value="0.00 €" style="width: 80px;text-align:right;"></td>
      <td class="td_content"><input id="5053" element="505" tramo="3" value="0.00 €" style="width: 80px;text-align:right;"></td>
      <td class="td_1"></td>
      <td class="td_1" style="border-right: 2px black solid"></td>
      <td></td>
      <td></td>
    </tr>

    


    <tr>
      <td class="td_1">  Kilo Adicional</td>
      <td></td>
      <td class="td_content td_content_1"><input id="525" refid="kg" value="0.00 €" style="width: 80px;text-align:right;"></td>
      <td class="td_content"><input id="505" refid="kg" value="0.00 €" style="width: 80px;text-align:right;"></td>
      <td class="td_1" style="border-bottom: 2px black solid "></td>
      <td class="td_1" style="border-bottom: 2px black solid;border-right: 2px black solid"></td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>

<div class=" col-sm-12 div_message_1" style="display: inline-grid">

  <p> * El Kilo adicional sera en fracciones de 5 Kg. Excepto Ceuta Melilla y Gibraltar 
  </p>
  <span class="fixed-color ">* Los Servicios 8:30H y 10:00H sin agencia en destino llevaran recargo en Kms </span>
</div>
<div class=" col-sm-12 div_contact_1">
  <p>TELEFONO ATENCION AL CLIENTE 902 42 00 43 www.instapack.es</p>
</div>
<div class=" col-sm-12 div_contact_2">
  <p>ESTOS PRECIOS NO INCLUYEN IVA</p>
</div>